/*=================== GENERAL STYLING START ==================*/

html {
	font-family: Karla, sans-serif;
	color: #333;
}
a {
	text-decoration: none;
}

/*=================== GENERAL STYLING END ====================*/

/*=================== HEADER STYLING START ===================*/

header {
	background-color: #eee04b;
	height: 46px;
	font-size: 2em;
	text-align: center;
}
header a {
	color: #333;
}
header h1 {
	padding-top: 7px;
}

/*=================== HEADER STYLING END =====================*/

/*=================== SECTION STYLING START ==================*/

section {
	width: 90%;
	margin: 0 auto;
	margin-top: 25px;
}
section h1 {
	font-size: 2em;
	margin-bottom: 20px;
}
input, button {
	font-size: 1em;
	display: block;
	width: 100%;
	font-family: Karla;
	outline: none;
}
.input-row {
	margin-bottom: 20px;
}
input {
	border: 1px solid #c2c7d0;
	padding: 10px 0 10px 45px;
	background-repeat: no-repeat;
	background-size: 30px;
	background-position: 4px;
	box-sizing: border-box;
}
input:focus {
	border-color: #eee04b;
	box-shadow: 0 0 3px 2px rgba(238, 224, 75, 1);
}
input[name="email"] {
	background-image: url('/static/images/mail.svg');
}
input[name="password"] {
	background-image: url('/static/images/lock.svg');
}
.error-message {
	margin-bottom: 10px;
	font-size: 0.8em;
	height: 0.8em;
	color: red;
	display: block;
}
button {
	background-color: #eee04b;
	border: 0px;
	margin-top: 45px;
	margin-bottom: 30px;
	padding: 10px 0;
	cursor: pointer;
}
button:hover {
	background-color: #cbbf40;
}
h3 {
	text-align: center;
	padding-bottom: 30px;
}
#top-text {
	border-bottom: 1px solid #c2c7d0;
	font-size: 0.8em;
}
#bot-text {
	margin: 30px 0;
	font-size: 0.8em;
}

@media only screen and (min-width: 768px) {
	section {
		width: 25%;
		max-width: 900px;
		min-width: 350px;
		margin-top: 100px;
		padding: 0px;
	}
	section h1 {
		font-size: 2.5em;
		margin-bottom: 40px;
	}
	#top-text, #bot-text, .error-message {
		font-size: 0.9em;
	}
	#error-message {
		height: 0.9em;
	}
}

/*=================== SECTION STYLING END ==================*/