.comment-section-title {
	display: none;
}
.comment-section-title div {
	width: calc(100% - 20px);
	margin: 0 auto;
	font-size: 0.9em;
}
.comment-section {
	background: white;
}
.all-comments {
	padding-top: 10px;
	padding-bottom: 46px;
}
.comment {
	overflow: auto;
}
.profile-pic {
	height: 35px;
	width: 35px;
	border-radius: 50%;
	margin: 0 10px;
	float: left;
}
.comment-wrapper:last-of-type .comment-text {
	margin-bottom: 0;
	border-bottom: none;
}
.comment-text {
	float: left;
    width: calc(100% - 55px);
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid rgba(0,0,0,.065);
}
.comment-top-text {
	margin-bottom: 9px;
}
.comment-bot-text {
	word-break: break-word;
	font-size: 0.75em;
	letter-spacing: 0.04em;
}
.commenter-username {
	font-weight: bold;
	font-size: 0.8em;
	letter-spacing: 0.03em;
}
.comment-time {
	color: #999;
	font-size: 0.75em;
	letter-spacing: 0.02em;
	display: inline-block;
	transform: translateX(8px);
	font-weight: normal;
}
.comment-form {
    width: 100%;
    margin: 0 auto;
    position: fixed;
    bottom: 0px;
    left: 0px;
    box-shadow: 0 0 20px rgba(46, 179, 152, .15);
    height: 46px;
    background: white;
    z-index: 110;
}
.comment-form form {
	max-width: 460px;
	margin: 0 auto;
	overflow: auto;
	position: relative;
}
.comment-form input[name="comment"] {
	width: calc(100% - 46px);
	height: 46px;
	padding-left: 10px;
	padding-right: 10px;
	float: left;
	background-color: white;
	font-family: Gotham;
	font-size: 0.9em;
	letter-spacing: 0.02em;
	border: none;
	outline: none;
	border-radius: 0;
	-webkit-appearance: none;
	-moz-appearance: none;
}
#comment-img-wrapper {
	width: 32px;
    height: 32px;
    border-radius: 50%;
    background: #2eb398;
    position: absolute;
    left: calc(100% - 42px);
    top: 7px;
    transition: background 0.3s;
}
.comment-form img {
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(calc(-50% + 1px),-50%);
}


@media only screen and (min-width: 380px) {
	.comment-section-title div {
		font-size: 0.95em;
	}
	.profile-pic {
		margin: 0 10px 0 20px;
		float: left;
	}
	.all-comments {
		padding-top: 20px;
	}
	.comment-text {
	    width: calc(100% - 65px);
	}
	.comment-bot-text {
		font-size: 0.8em;
	}
	.commenter-username {
		font-size: 0.85em;
	}
	.comment-time {
		font-size: 0.65em;
	}
}

@media only screen and (min-width: 420px) {
	.comment-section-title div {
		font-size: 1em;
	}
	.all-comments {
		padding-top: 18px;
	}
	.profile-pic {
		height: 40px;
		width: 40px;
	}
	.commenter-username {
		letter-spacing: 0.04em;
	}
	.comment-text {
	    width: calc(100% - 70px);
	}
	.comment-section-title div {
		font-size: 1em;
	}
	.comment-bot-text {
		font-size: 0.85em;
	}
	.commenter-username {
		font-size: 0.9em;
	}
	.comment-time {
		font-size: 0.7em;
	}
}

@media only screen and (min-width: 460px) {
	.comment-section {
		border-radius: 6px;
	}
}

@media only screen and (min-width: 900px) {
	.comment-section {
		position: relative;
	}
	.all-comments {
		height: calc(100% - 46px);
		padding-top: 18px;
		padding-bottom: 0;
		overflow: auto;
		-webkit-overflow-scrolling: touch;
	}
	.all-comments::-webkit-scrollbar {
	    width: 6px;
	} 
	.all-comments::-webkit-scrollbar-track {
	    -webkit-border-radius: 10px;
	    border-radius: 10px;
	    background: white;
	}
	.all-comments::-webkit-scrollbar-thumb {
	    -webkit-border-radius: 10px;
	    border-radius: 10px;
	    background: rgba(0, 0, 0,0.2); 
	}
	.comment-form {
		position: absolute;
		bottom: 0;
		left: 0;
		box-shadow: none;
		border-top: 1px solid rgba(0,0,0,.065);
		border-bottom-left-radius: 6px;
		border-bottom-right-radius: 6px;
		opacity: 1 !important;
	}
	.comment-form form {
		max-width: initial;
		border-bottom-right-radius: 6px;
	}
	.comment-form input[name="comment"] {
		height: 45px;
		border-bottom-left-radius: 6px;
		padding-left: 20px;
		padding-right: 20px;
	}
	#comment-img-wrapper {
		width: 46px;
		height: 45px;
		background: #2eb398;
		float: left;
		position: relative;
		border-bottom-right-radius: 6px;
		left: inherit;
		top: initial;
		border-radius: initial;
	}
	.comment-form img {
		transform: translate(-50%, -50%);
	}
}

@media only screen and (pointer: fine) {
	#comment-img-wrapper:hover {
		cursor: pointer;
		background: #23927c;
	}
}