.comment-section-title {
	display: none;
}
.comment-section-title div {
	width: calc(100% - 20px);
	margin: 0 auto;
	font-size: 0.9em;
}
.all-comments {
	padding-top: 14px;
	padding-bottom: 58px;
	border-top: 2px solid #f1f1f1;
}
.comment {
	overflow: auto;
}
.profile-pic {
	height: 40px;
	width: 40px;
	margin-right: 15px;
	float: left;
}
.comment-wrapper:last-of-type .comment-text {
	margin-bottom: 0;
}
.comment-text {
	float: left;
    width: calc(100% - 55px);
    padding-bottom: 25px;
    margin-bottom: 25px;
    border-bottom: 2px solid #f1f1f1;
}
.comment-top-text {
	padding-bottom: 9px;
    transform: translateY(-2px);
    overflow: auto;
}
.comment-bot-text {
	word-break: break-word;
	font-size: 0.75em;
}
.commenter-username {
	font-weight: bold;
	float: left;
	font-size: 0.8em;
}
.comment-time {
	color: #868686;
	font-size: 0.6em;
	transform: translate(-15px, 4px);
	float: right;
}
.comment-form {
    width: 100%;
    margin: 0 auto;
    position: fixed;
    bottom: 0px;
    left: 0px;
    border-top: 1px solid #f1f1f1;
}
.comment-form input[name="comment"] {
	width: calc(100% - 45px);
	height: 45px;
	padding: 8px;
	float: left;
	background-color: white;
	font-family: Gotham;
	border: none;
	outline: none;
}
.comment-form img {
	width: 45px;
	height: 45px;
	padding: 8px;
	border-left: 1px solid #f1f1f1;
	float: left;
	background: #2eb398;
}
.comment-form img:hover {
	cursor: pointer;
}

@media only screen and (min-width: 380px) {
	.comment-section-title div {
		font-size: 0.95em;
	}
	.comment-bot-text {
		font-size: 0.8em;
	}
	.commenter-username {
		font-size: 0.85em;
	}
	.comment-time {
		font-size: 0.65em;
	}
}

@media only screen and (min-width: 420px) {
	.comment-section-title div {
		font-size: 1em;
	}
	.all-comments {
		padding-top: 18px;
	}
	.backer1 {
		height: 5px;
		top: -5px;
	}
	.backer2 {
		height: 5px;
		top: -10px;
	}
	.profile-pic {
		height: 35px;
		width: 35px;
		margin-right: 10px;
	}
	.comment-text {
		width: calc(100% - 45px);
	}
	.comment-section-title div {
		font-size: 1em;
	}
	.comment-bot-text {
		font-size: 0.85em;
	}
	.commenter-username {
		font-size: 0.9em;
	}
	.comment-time {
		font-size: 0.7em;
	}
}

@media only screen and (min-width: 480px) {
	.comment-section {
		max-width: 505px;
		margin: 0 auto;
	}
	.comment-section-title div {
		font-size: 1.2em;
	}
}

@media only screen and (min-width: 505px) {
	.comment-form {
	    max-width: 505px;
	    margin: 0 auto;
	    left: initial;
	}
	.comment-form form {
		width: calc(100% - 20px);
		margin: 0 auto;
	}
}

@media only screen and (min-width: 800px) {
	.comment-section-title {
		height: 50px;
		font-size: 1.75em;
	}
	.comment-section-title div {
		width: 80%;
		margin: 0 auto;
	}
	.all-comments {
		overflow: auto;
		height: calc(100% - 110px);
		margin: 0 auto;
		animation-timing-function: ease-out;
		padding-top: 14px;
		padding-bottom: 0;
	}
	.comment-wrapper {
		position: relative;
		width: 80%;
		margin: 0 auto;
		margin-top: 30px;
	}
	.comment {
		padding: 10px;
	}
	.backer1 {
		position: absolute;
		width: 95%;
		height: 7px;
		background-color: #ececec;
		left: 50%;
		transform: translateX(-50%);
		top: -7px;
	}
	.backer2 {
		height: 7px;
		top: -14px;
	}
	.profile-pic {
		height: 40px;
		width: 40px;
		margin-right: 15px;
	}
	.comment-text {
		width: calc(100% - 55px);
		line-height: 1.1em;
	}
	.comment-top-text {
		margin-bottom: 5px;
	}
	.comment-bot-text {
		line-height: 1.2em;
	}
	.comment-time {
		font-size: 0.8em;
		transform: translateX(8px);
	}
	.comment-form {
		height: 60px;
		padding-top: 20px;
		position: initial;
	}
	.comment-form form {
		width: 80%;
	}
	.comment-form input[name="comment"] {
		width: calc(100% - 45px);
		height: 40px;
		font-size: 1em;
		padding: 10px;
	}
	.comment-form img {
		width: 40px;
		height: 40px;
		padding: 6px;
	}
	.comment-form img:hover {
		cursor: pointer;
	}
	.all-comments::-webkit-scrollbar {
	    width: 6px;
	} 
	.all-comments::-webkit-scrollbar-track {
	    -webkit-border-radius: 10px;
	    border-radius: 10px;
	    background: white;
	}
	.all-comments::-webkit-scrollbar-thumb {
	    -webkit-border-radius: 10px;
	    border-radius: 10px;
	    background: rgba(0, 0, 0,0.4); 
	}
}