/*=================== GENERAL STYLING START ==================*/

@font-face {
	font-family: 'Jaapokki';
	src: url('/static/fonts/jaapokkisubtract-regular.woff');
}
@font-face {
	font-family: 'Gotham';
	src: url('/static/fonts/GothamHTF-Book.woff');
}
html {
	font-family: Karla, sans-serif;
	color: #333;
}
a {
	text-decoration: none;
}

@media only screen and (min-width: 500px) {
	html {
		background-color: #f1f1f1;
	}
}

/*=================== GENERAL STYLING END ====================*/

/*=================== SECTION STYLING START ==================*/

section {
	width: 90%;
	margin: 0 auto;
	margin-top: 25px;
	background-color: white;
	padding-bottom: 30px;
}
section h1 {
	font-size: 2em;
	margin-bottom: 20px;
}
#generic-form input, button {
	font-size: 1em;
	display: block;
	width: 100%;
	font-family: Karla;
	outline: none;
}
.input-row {
	margin-bottom: 30px;
}
#generic-form input {
	padding: 10px 0 10px 45px;
	background-repeat: no-repeat;
	background-size: 30px;
	background-position: 4px;
	box-sizing: border-box;
	border: none;
	background-color: #f1f1f1;
}
#generic-form input:focus {
	border-color: #2eb398;
	box-shadow: 0 0 3px 2px #2eb398;
}
#generic-form.error-message {
	font-size: 0.75em;
	height: 1.5em;
	color: red;
	display: block;
}
#generic-form button {
	background-color: #2eb398;
	border: 0px;
	margin-top: 46px;
	margin-bottom: 30px;
	padding: 10px 0;
	cursor: pointer;
	border-radius: 10px;
	position: relative;
}
#generic-form button:hover {
	background-color: #20826e;
}
#generic-form button img {
	width: 23px;
	height: 23px;
	position: absolute;
	top: 7px;
	right: 7px;
}
#generic-form h3 {
	text-align: center;
}
#top-text {
	border-bottom: 1px solid #c2c7d0;
	padding-bottom: 30px;
	margin-bottom: 30px;
	font-size: 0.75em;
}
#bot-text {
	font-size: 0.75em;
}

@media only screen and (min-width: 500px) {
	section {
		width: 25%;
		max-width: 550px;
		min-width: 350px;
		margin-top: 80px;
		padding: 20px 20px 30px 20px;
	}
	section h1 {
		font-size: 2.5em;
		margin-bottom: 40px;
	}
	#top-text, #bot-text, .error-message {
		font-size: 0.9em;
	}
	#error-message {
		height: 0.9em;
	}
}

/*=================== SECTION STYLING END ==================*/