/*=================== GENERAL STYLING START ==================*/

@font-face {
	font-family: 'Jaapokki';
	src: url('/static/fonts/jaapokkisubtract-regular.woff');
}
@font-face {
	font-family: 'Gotham';
	src: url('/static/fonts/GothamHTF-Book.woff');
}
html {
	font-family: Gotham, sans-serif;
	color: #353436;
}
a {
	text-decoration: none;
}

/*=================== GENERAL STYLING END ====================*/

/*=================== SECTION STYLING START ==================*/

main {
	padding-top: 61px;
}
section {
	background-color: white;
	padding: 20px 10px 30px 10px;
}
section h1 {
	font-size: 1.75em;
	margin-bottom: 30px;
}
#generic-form input, button {
	font-size: 1em;
	display: block;
	width: 100%;
	font-family: Gotham;
	outline: none;
}
.input-row {
	margin-bottom: 25px;
}
.error-message {
	color: #e64c65;
	margin-bottom: 4px;
	font-size: 0.8em;
	height: 1.1em;
}
#generic-form input {
	padding: 10px 0 10px 45px;
	background-repeat: no-repeat;
	background-size: 25px;
	background-position: 10px 6px;
	box-sizing: border-box;
	border: none;
	background-color: #f1f1f1;
	border-radius: 3px;
	transition: background-image 0.3s;
}
#full-name {
	background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' id='Mask' x='0px' y='0px' viewBox='0 0 20 20' enable-background='new 0 0 20 20' xml:space='preserve'><path d='M19.581 5.84c-0.043-0.469-0.462-0.803-0.92-0.73C16.919 5.388 12.835 7 10 7 7.165 7 3.081 5.388 1.339 5.11c-0.458-0.073-0.876 0.26-0.92 0.729C0.277 7.371 0 11.45 0 12.068c0 0.83 3.472 2.732 6 2.732 2.452 0 2.95-2.732 4-2.732s1.548 2.732 4 2.732c2.528 0 6-1.902 6-2.732C20 11.45 19.723 7.371 19.581 5.84zM7.66 10.72c-0.353 0.318-1.335 1.07-2.531 0.835 -1.196-0.235-1.919-1.323-2.166-1.758C2.903 9.691 2.922 9.557 3.007 9.48 3.36 9.162 4.342 8.41 5.539 8.645c1.196 0.235 1.919 1.323 2.166 1.758C7.764 10.509 7.745 10.643 7.66 10.72zM17.037 9.797c-0.246 0.436-0.969 1.523-2.166 1.758 -1.196 0.235-2.179-0.517-2.531-0.835 -0.086-0.077-0.104-0.211-0.045-0.317 0.246-0.436 0.969-1.523 2.166-1.758 1.196-0.235 2.179 0.517 2.531 0.835C17.078 9.557 17.097 9.691 17.037 9.797z' fill='#868686'/></svg>");
}
#full-name:focus {
	background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' id='Mask' x='0px' y='0px' viewBox='0 0 20 20' enable-background='new 0 0 20 20' xml:space='preserve'><path d='M19.581 5.84c-0.043-0.469-0.462-0.803-0.92-0.73C16.919 5.388 12.835 7 10 7 7.165 7 3.081 5.388 1.339 5.11c-0.458-0.073-0.876 0.26-0.92 0.729C0.277 7.371 0 11.45 0 12.068c0 0.83 3.472 2.732 6 2.732 2.452 0 2.95-2.732 4-2.732s1.548 2.732 4 2.732c2.528 0 6-1.902 6-2.732C20 11.45 19.723 7.371 19.581 5.84zM7.66 10.72c-0.353 0.318-1.335 1.07-2.531 0.835 -1.196-0.235-1.919-1.323-2.166-1.758C2.903 9.691 2.922 9.557 3.007 9.48 3.36 9.162 4.342 8.41 5.539 8.645c1.196 0.235 1.919 1.323 2.166 1.758C7.764 10.509 7.745 10.643 7.66 10.72zM17.037 9.797c-0.246 0.436-0.969 1.523-2.166 1.758 -1.196 0.235-2.179-0.517-2.531-0.835 -0.086-0.077-0.104-0.211-0.045-0.317 0.246-0.436 0.969-1.523 2.166-1.758 1.196-0.235 2.179 0.517 2.531 0.835C17.078 9.557 17.097 9.691 17.037 9.797z' fill='#2eb398'/></svg>");
}
#email {
	background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' id='Mail' x='0px' y='0px' viewBox='0 0 20 20' xml:space='preserve' enable-background='new 0 0 20 20'><path d='M1.574 5.286c0.488 0.262 7.248 3.894 7.5 4.029C9.326 9.45 9.652 9.514 9.98 9.514c0.328 0 0.654-0.064 0.906-0.199s7.012-3.767 7.5-4.029C18.875 5.023 19.337 4 18.44 4H1.521C0.624 4 1.086 5.023 1.574 5.286zM18.613 7.489c-0.555 0.289-7.387 3.849-7.727 4.027s-0.578 0.199-0.906 0.199 -0.566-0.021-0.906-0.199S1.941 7.777 1.386 7.488C0.996 7.284 1 7.523 1 7.707S1 15 1 15c0 0.42 0.566 1 1 1h16c0.434 0 1-0.58 1-1 0 0 0-7.108 0-7.292S19.004 7.285 18.613 7.489z' fill='#868686'/></svg>");
}
#email:focus {
	background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' id='Mail' x='0px' y='0px' viewBox='0 0 20 20' xml:space='preserve' enable-background='new 0 0 20 20'><path d='M1.574 5.286c0.488 0.262 7.248 3.894 7.5 4.029C9.326 9.45 9.652 9.514 9.98 9.514c0.328 0 0.654-0.064 0.906-0.199s7.012-3.767 7.5-4.029C18.875 5.023 19.337 4 18.44 4H1.521C0.624 4 1.086 5.023 1.574 5.286zM18.613 7.489c-0.555 0.289-7.387 3.849-7.727 4.027s-0.578 0.199-0.906 0.199 -0.566-0.021-0.906-0.199S1.941 7.777 1.386 7.488C0.996 7.284 1 7.523 1 7.707S1 15 1 15c0 0.42 0.566 1 1 1h16c0.434 0 1-0.58 1-1 0 0 0-7.108 0-7.292S19.004 7.285 18.613 7.489z' fill='#2eb398'/></svg>");
}
#password {
	background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' id='Lock' x='0px' y='0px' viewBox='0 0 20 20' enable-background='new 0 0 20 20' xml:space='preserve'><path d='M15.8 8H14V5.6C14 2.703 12.665 1 10 1 7.334 1 6 2.703 6 5.6V8H4C3.447 8 3 8.646 3 9.199V17c0 0.549 0.428 1.139 0.951 1.307l1.197 0.387C5.672 18.861 6.55 19 7.1 19H12.9c0.549 0 1.428-0.139 1.951-0.307l1.196-0.387C16.571 18.139 17 17.549 17 17V9.199C17 8.646 16.352 8 15.8 8zM12 8H8V5.199C8 3.754 8.797 3 10 3c1.203 0 2 0.754 2 2.199V8z' fill='#868686'/></svg>");
}
#password:focus {
	background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' id='Lock' x='0px' y='0px' viewBox='0 0 20 20' enable-background='new 0 0 20 20' xml:space='preserve'><path d='M15.8 8H14V5.6C14 2.703 12.665 1 10 1 7.334 1 6 2.703 6 5.6V8H4C3.447 8 3 8.646 3 9.199V17c0 0.549 0.428 1.139 0.951 1.307l1.197 0.387C5.672 18.861 6.55 19 7.1 19H12.9c0.549 0 1.428-0.139 1.951-0.307l1.196-0.387C16.571 18.139 17 17.549 17 17V9.199C17 8.646 16.352 8 15.8 8zM12 8H8V5.199C8 3.754 8.797 3 10 3c1.203 0 2 0.754 2 2.199V8z' fill='#2eb398'/></svg>");
}
#generic-form button {
	background-color: #2eb398;
	border: 0px;
	margin-top: 42px;
	margin-bottom: 42px;
	padding: 10px 0;
	border-radius: 3px;
	position: relative;
	color: white;
	transition: background 0.3s;
}
#generic-form button:hover {
	background-color: #20826e;
	cursor: pointer;
}
#generic-form h3 {
	text-align: center;
	font-size: 0.8em;
	line-height: 1.2em;
}
#generic-form a {
	color: #2eb398;
}
#text-divider {
	width: 65%;
	height: 0;
	border-top: 1px solid rgba(0,0,0,.1);
	margin: 0 auto;
	margin-top: 30px;
	margin-bottom: 30px;
}

@media only screen and (min-width: 480px) {
	html {
		background: #f1f1f1;
	}
	main {
		padding-top: 86px;
	}
	section {
		width: 25%;
		margin: 0 auto;
		max-width: 550px;
		min-width: 350px;
		padding: 50px;
		border-radius: 5px;
	}
	section h1 {
		margin-bottom: 40px;
	}
	.input-row {
		margin-bottom: 25px;
	}
	.error-message {
		font-size: 0.75em;
		margin-bottom: 2px;
	}
	#generic-form input, button {
		font-size: .85em;
	}
	#generic-form input {
		background-position: 10px 5px;
	}
	#generic-form button {
		margin-top: 44px;
		margin-bottom: 55px;
	}
	#generic-form h3 {
		text-align: center;
		font-size: 0.75em;
		line-height: 1.2em;
	}
	#text-divider {
		width: 65%;
		height: 0;
		border-top: 1px solid rgba(0,0,0,.1);
		margin: 0 auto;
		margin-top: 30px;
		margin-bottom: 30px;
	}
}

@media only screen and (min-width: 1200px) {
	main {
		padding-top: 130px;
	}
}

/*=================== SECTION STYLING END ==================*/