/*=================== GENERAL STYLING START ==================*/

@font-face {
	font-family: 'Jaapokki';
	src: url('/static/fonts/jaapokkisubtract-regular.woff');
}
@font-face {
	font-family: 'Gotham';
	src: url('/static/fonts/GothamHTF-Book.woff');
}
html {
	font-family: Gotham, sans-serif;
	color: #353436;
}
a {
	text-decoration: none;
}

/*=================== GENERAL STYLING END ====================*/

/*=================== SECTION STYLING START ==================*/

main {
	padding-top: 61px;
}
section {
	background-color: white;
	padding: 20px 10px 30px 10px;
}
section h1 {
	font-size: 2em;
	margin-bottom: 30px;
}
#generic-form input, button {
	font-size: 1em;
	display: block;
	width: 100%;
	font-family: Gotham;
	outline: none;
}
.input-row {
	margin-bottom: 25px;
}
.error-message {
	color: #e64c65;
	margin-bottom: 4px;
	font-size: 0.8em;
	height: 1.1em;
}
#generic-form input {
	padding: 10px 0 10px 45px;
	background-repeat: no-repeat;
	background-size: 25px;
	background-position: 10px 6px;
	box-sizing: border-box;
	border: none;
	background-color: #f1f1f1;
	border-radius: 3px;
}
#full-name:focus {
	background-image: url("/static/images/mask-green.svg") !important;
}
#email:focus {
	background-image: url("/static/images/mail-green.svg") !important;
}
#password:focus {
	background-image: url("/static/images/lock-green.svg") !important;
}
#generic-form button {
	background-color: #2eb398;
	border: 0px;
	margin-top: 42px;
	margin-bottom: 42px;
	padding: 10px 0;
	border-radius: 3px;
	position: relative;
	color: white;
}
#generic-form button:hover {
	background-color: #20826e;
	cursor: pointer;
}
#generic-form h3 {
	text-align: center;
	font-size: 0.8em;
	line-height: 1.2em;
}
#text-divider {
	width: 65%;
	height: 0;
	border-top: 1px solid rgba(0,0,0,.1);
	margin: 0 auto;
	margin-top: 30px;
	margin-bottom: 30px;
}

@media only screen and (min-width: 480px) {
	html {
		background: #f1f1f1;
	}
	main {
		padding-top: 86px;
	}
	section {
		width: 25%;
		margin: 0 auto;
		max-width: 550px;
		min-width: 350px;
		padding: 50px;
		border-radius: 5px;
	}
	section h1 {
		font-size: 2em;
		margin-bottom: 40px;
	}
	.input-row {
		margin-bottom: 25px;
	}
	.error-message {
		font-size: 0.9em;
		height: 1.2em;
		margin-bottom: 2px;
	}
	#generic-form button {
		margin-top: 44px;
		margin-bottom: 55px;
	}
	#generic-form h3 {
		text-align: center;
		font-size: 0.9em;
		line-height: 1.2em;
	}
	#text-divider {
		width: 65%;
		height: 0;
		border-top: 1px solid rgba(0,0,0,.1);
		margin: 0 auto;
		margin-top: 30px;
		margin-bottom: 30px;
	}
}

@media only screen and (min-width: 1200px) {
	main {
		padding-top: 130px;
	}
}

/*=================== SECTION STYLING END ==================*/