@media only screen and (min-width: 1200px) {
	header {
		float: left;
		width: 240px;
		height: 100%;
		padding: 20px;
		background: #353436;
		box-sizing: border-box;
	}
	header * {
		box-sizing: border-box;
	}
	#logo {
		float: left;
		font-size: 2em;
		margin-top: 12px;
	}
	#logo a {
		color: white;
	}
	#header-context {
		float: right;
	}
	#header-context img {
		width: 60px;
		height: 60px;
		border-radius: 50%;
		box-shadow: 0 0 0 2px white;
	}
	nav {
		width: 100%;
		padding-top: 130px;
	}
	#user-bio {
		line-height: 1.3em;
		color: white;
		padding: 15px 0;
		margin-bottom: 100px;
		border-top: 1px solid rgba(255,255,255,.3);
		border-bottom: 1px solid rgba(255,255,255,.3);
	}
	#account-button {
		padding: 15px 0;
		margin-bottom: 100px;
		border-top: 1px solid rgba(255,255,255,.3);
		border-bottom: 1px solid rgba(255,255,255,.3);
	}
	#account-button button {
		background: transparent;
		border: none;
		color: white;
		font-size: 1.5em;
		outline: none;
	}
	#account-button button:hover {
		cursor: pointer;
	}
	#nav-links li {
		color: white;
		font-size: 1.2em;
		margin: 10px 0;
		padding-top: 10px;
		border-top: 1px solid rgba(255,255,255,.3);
	}
	#nav-links li:first-of-type {
		border-top: none;
	}
}