@media only screen and (min-width: 1200px) {
	header {
		float: left;
		width: 240px;
		height: 100%;
		background: #353436;
		box-sizing: border-box;
	}
	header * {
		box-sizing: border-box;
	}
	#logo-and-context {
		padding: 20px;
		overflow: auto;
	}
	#logo {
		float: left;
		font-size: 2em;
		margin-top: 12px;
	}
	#logo a {
		color: white;
	}
	#header-context {
		float: right;
	}
	#header-context img {
		width: 60px;
		height: 60px;
		border-radius: 50%;
		box-shadow: 0 0 0 2px white;
	}
	nav {
		width: 100%;
		padding-left: 25px;
	}
	nav > div:nth-of-type(2) {
		margin-top: 30px;
	}
	.nav-links-header-text {
		font-size: 0.75em;
		padding: 20px 0 20px 20px;
		color: #777777;
	}
	.nav-links li {
		color: #777777;
		padding: 10px 20px 10px 15px;
	}
	.nav-links.top li:nth-of-type(2) {
		background: #f1f1f1;
		border-left: 4px solid #bd65ff;
		color: #353436;
	}
	#account-button {
		padding: 15px 0;
		margin-bottom: 100px;
		border-top: 1px solid rgba(255,255,255,.3);
		border-bottom: 1px solid rgba(255,255,255,.3);
	}
	#account-button button {
		background: transparent;
		border: none;
		color: white;
		font-size: 1.5em;
		outline: none;
	}
	#account-button button:hover {
		cursor: pointer;
	}
}