@media only screen and (min-width: 1200px) {
	header {
		height: 80px;
		background: #353436;
		margin-bottom: 50px;
		box-sizing: border-box;
		border-bottom: 1px solid rgba(162, 163, 162, 0.4);
	}
	header * {
		box-sizing: border-box;
	}
	#header-wrapper {
		height: 100%;
		width: 95%;
		max-width: 1650px;
		margin: 0 auto;
	}
	#logo {
		font-size: 2em;
		float: left;
		width: 240px;
		transform: translateY(20px);
	}
	#logo a {
		font-family: Jaapokki;
		color: white;
		display: inline-block;
		padding: 7px 10px 0 0;
	}
	#logo span {
		color: #2eb398;
	}
	#search-form {
		width: 240px;
		height: 100%;
		float: left;
		transform: translateY(25px);
	}
	#search-form input {
		font-family: Gotham;
		font-size: 0.9em;
		background: transparent;
		color: white;
		border: none;
		outline: none;
		border: 1px solid white;
		width: 100%;
		padding: 6px 0 7px 32px;
		background-repeat: no-repeat;
    	background-position-x: 3px;
	}
	#search-form input::-webkit-input-placeholder {
		color: white;
	}
	#header-icon-area {
		float: right;
		height: 100%;
	}
	#create-question-icon {
		float: left;
		transform: translate(-60px, 25px);
	}
	#create-question-icon img {
		height: 30px;
	}
	#notification-icon {
		float: left;
		transform: translate(-30px, 25px);
	}
	#notification-icon img {
		height: 30px;
	}
	#current-user-profile-pic {
		float: left;
	}
	#current-user-profile-pic button{
		background: transparent;
		border: none;
		outline: none;
	}
	#current-user-profile-pic img {
		width: 50px;
		height: 50px;
		border-radius: 50%;
		box-shadow: 0 0 0 2px white;
		transform: translateY(15px);
	}
	#current-user-profile-pic img:hover {
		cursor: pointer;
	}
}