/*=================== GENERAL STYLING START ==================*/

html {
	font-family: Karla, sans-serif;
}
a {
	text-decoration: none;
}
* {
	color: #333;
}
body {
	background-color: #f1f1f1;
}

/*=================== GENERAL STYLING END ====================*/

/*=================== HEADER STYLING START ===================*/

#large-display-nav {
	display: none;
}
#small-display-nav {
	position: fixed;
	width: 100%;
}
#small-logo {
	height: 46px;
	background-color: #eee04b;
	text-align: center;
}
#small-logo h1 {
	padding-top: 6px;
}
#small-logo a {
	color: #333;
	font-size: 2em;
}
#small-navigation {
	display: none;
	width: 100%;
	background: #333;
	letter-spacing: 0.12em;
}
#nav-trigger {
	position: absolute;
	clip: rect(0, 0, 0, 0);
}
label[for="nav-trigger"] {
	position: fixed;
	color: #333;
	left: 10px;
	top: 10px;
	height: 25px;
	width: 25px;
	cursor: pointer;
	background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' x='0px' y='0px' width='25px' height='25px' viewBox='0 0 25 25' enable-background='new 0 0 25 25' xml:space='preserve'><rect width='25' height='5' style='fill:rgb(51,51,51)'/><rect y='20' width='25' height='5' style='fill:rgb(51,51,51)'/><rect y='10' width='25' height='5' style='fill:rgb(51,51,51)'/></svg>");
	background-size: contain;
}
#nav-trigger:checked ~ #small-navigation {
  	display: block;
}
.nav-item {
	border-bottom: 1px solid black;
	border-top: 1px solid #555;
	padding-right: 5px;
	transition: border-left 0.15s;
}
.nav-item:hover {
	border-left: 5px solid #eee04b;
}
.nav-item a {
	display: block;
	color: white;
	padding: 0.9em;
	font-size: 1.25em;
}
header .active {
	border-left: 5px solid #eee04b;
}

@media only screen and (min-width: 768px) {
	#small-display-nav {
		display: none;
	}
	#large-display-nav {
		display: block;
	}
	header {
		position: fixed;
		width: 100%;
	}
	.wrapper-top-nav {
		background-color: #eee04b;
		padding: 20px 0;
	}
	.wrapper-bot-nav {
		background-color: #333;
	}
	nav {
		width: 90%;
		max-width: 1200px;
		margin: 0 auto;
		overflow: auto;
	}
	#top-buttons {
		float: right;
	}
	header button {
		font-family: Karla;
		font-size: 1em;
		letter-spacing: 0.14em;
		color: white;
		padding: 5px 0;
		background-color: #333;
		width: 6.5em;
		margin: 0 10px;
		border: 3px solid #333;
		border-radius: 30px;
		outline: none;
		transition: border 0.3s, background-color 0.3s, color 0.3s;
		cursor: pointer;
	}
	header button:hover {
		border: 3px solid white;
		background-color: white;
		color: #eee04b;
	}
	.nav-button {
		padding: 15px 0px;
		display: block;
		float: left;
		color: white;
		width: 14.2%;
		text-align: center;
		transition: border-bottom 0.15s;
	}
	.nav-button:hover {
		padding-bottom: 10px;
		border-bottom: 5px solid #eee04b;
	}
	#logo {
		float: left;
		color: #333;
	}
	header .active {
		padding-bottom: 10px;
		border: 0px;
		border-bottom: 5px solid #eee04b
	}
}

/*=================== HEADER STYLING END =====================*/

/*=================== SECTION STYLING START ==================*/

section {
	padding-top: 60px;
	margin-bottom: 40px;
}

@media only screen and (min-width: 768px) {
	section {
		padding-top: 155px;
	}
}

/*============================================================*/

#featured-groups {
	background-color: #333;
	padding: 10px;
	box-sizing: border-box;
	margin-bottom: 15px;
	overflow: auto;
}
#featured-groups h1 {
	font-size: 1em;
	color: white;
	margin-bottom: 10px;
}
.group {
	text-align: center;
	float: left;
	width: 33.3%;
}
.group-img {
	width: 90px;
	height: 90px;
	border-radius: 50%;
	margin-bottom: 5px;
}
.group-text {
	color: white;
}

@media only screen and (min-width: 768px) {
	#featured-groups {
		background-color: #333;
		box-shadow: 0 1px 2px rgba(0,0,0,.1);
		padding: 10px;
		margin-bottom: 38px;
		box-sizing: border-box;
	}
	#featured-groups h1 {
		font-size: 1.5em;
		color: white;
		margin-bottom: 10px;
	}
	.group {
		text-align: center;
		float: left;
		width: 33.3%;
	}
	.group-img {
		width: 150px;
		height: 150px;
		border-radius: 50%;
		margin-bottom: 5px;
	}
	.group-text {
		color: white;
	}
}

/*============================================================*/

/*=================== SECTION STYLING END ====================*/

/*=================== FOOTER STYLING START ===================*/

footer {
	background-color: #333;
	color: white;
}
.width-wrapper {
	padding: 10px 2%;
	overflow: auto;
	text-align: center;
}
.column-wrapper {
	width: 50%;
	margin: 10px 0;
	float: left;
}
.column-headings {
	font-size: 0.95em;
	color: #8d8d8d;
	text-transform: uppercase;
}
.column-items {
	margin-top: 10px;
}
.column-items > li {
	margin: 5px 0;
}
.footer-links {
	font-size: 0.8em;
	color: white;
}
.footer-links:hover {
	color: #8d8d8d;
}

@media only screen and (min-width: 768px) {
	#width-wrapper {
		max-width: 1200px;
	}
	.column-wrapper {
		width: 33.3%;
	}
	.company-info {
		width: 100%;
	}
}

/*=================== FOOTER STYLING END ===================*/