main {
    padding-bottom: 46px;
}
#mobile-tab-bar-wrapper {
	position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 46px;
    background: white;
    z-index: 20;
    border-top: 1px solid #f1f1f1;
}
#mobile-tab-bar {
	width: 100%;
    max-width: 400px;
    margin: 0 auto;
    overflow: auto;
    height: 100%;
}
.nav-option {
	width: 20%;
    opacity: .4;
	float: left;
	text-align: center;
	transform: translateY(5px);
}
.nav-option.active {
    opacity: 1;
}
.nav-option:nth-of-type(3) {
    transform: translateY(1px);
}
.nav-option:nth-of-type(3) svg {
    height: 42px;
    width: 42px;
}
.nav-icon svg {
	height: 24px;
    fill: #2eb398;
}
.nav-text {
	font-size: 0.65em;
	color: #2eb398;
    letter-spacing: 0.03em;
}

@media only screen and (min-width: 1200px) {
    main {
        padding-bottom: 0;
    }
    #mobile-tab-bar-wrapper {
        display: none;
    }
}