main {
    padding-bottom: 46px;
}
#mobile-tab-bar-wrapper {
	position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 46px;
    background: white;
    z-index: 20;
    box-shadow: 0 0 20px rgba(46, 179, 152, .1);
}
#mobile-tab-bar {
	width: 100%;
    max-width: 400px;
    margin: 0 auto;
    overflow: auto;
    height: 100%;
}
.nav-option {
	width: 20%;
	float: left;
	text-align: center;
	transform: translateY(8px);
}
.nav-icon svg {
	height: 28px;
}
.nav-text {
	font-size: 0.65em;
	color: #d4d2d5;
}
.nav-text.active {
	color: #2eb398;
}

@media only screen and (min-width: 1200px) {
    main {
        padding-bottom: 0;
    }
    #mobile-tab-bar-wrapper {
        display: none;
    }
}