/*=================== GENERAL STYLING START ==================*/

@font-face {
	font-family: 'Jaapokki';
	src: url('/static/fonts/jaapokkisubtract-regular.woff');
}
@font-face {
	font-family: 'Gotham';
	src: url('/static/fonts/GothamHTF-Book.woff');
}
html {
	font-family: Gotham, sans-serif;
}
a {
	text-decoration: none;
}
* {
	color: #353436;
}

@media only screen and (min-width: 1200px) {
	html, body, section, article {
		height: 100%;
	}
	body {
		overflow-x: hidden;
	}
}

/*=================== GENERAL STYLING END ====================*/

/*=================== LARGE-DISP STYLING START ===============*/

@media only screen and (min-width: 1200px) {
	body {
		background: #f1f1f1;
	}
	main {
		width: 95%;
		max-width: 1650px;
		overflow: auto;
		margin: 0 auto;
		height: calc(100% - 130px);
		box-sizing: border-box;
	}
	main * {
		box-sizing: border-box;
	}
	#main-content {
		width: calc(100% - 240px);
		height: 100%;
		float: left;
	}
	#main-content-title {
		color: #353436;
		font-size: 2em;
		margin-bottom: 50px;
	}
	#main-content-selection {
		border-top: 1px solid rgba(212, 210, 213, 0.7);
		border-bottom: 1px solid rgba(212, 210, 213, 0.7);
		overflow: auto;
		padding: 10px 0;
		margin-bottom: 30px;
	}
	.selection {
		float: left;
		color: #d4d2d5;
		font-size: 0.9em;
		margin-right: 30px;
	}
	.selection:first-of-type {
		color: #353436;
	}
	#feed {
		height: calc(100% - 170px);
		overflow: auto;
	}
	#feed > div {
		width: 50%;
		float: left;
		margin-bottom: 30px;
	}
	#feed > div > div {
		margin: 0 auto;
		width: 80%;
	}
	#feed::-webkit-scrollbar {
	    width: 6px;
	} 
	#feed::-webkit-scrollbar-track {
	    -webkit-border-radius: 10px;
	    border-radius: 10px;
	    background: white;
	}
	#feed::-webkit-scrollbar-thumb {
	    -webkit-border-radius: 10px;
	    border-radius: 10px;
	    background: rgba(0, 0, 0,0.4); 
	}
	#off-canvas-comments {
		position: absolute;
		right: -33%;
		z-index: 20;
		top: 80px;
		height: calc(100% - 80px);
		width: 33%;
		background: white;
	}
	#content-overlay {
		position: absolute;
		width: 100%;
		height: calc(100% - 80px);
		top: 80px;
		left: 0;
		opacity: 0;
		background: black;
		z-index: -10;
	}
}

/*=================== LARGE-DISP STYLING END =================*/


/*=================== OVERLAY STYLING START ==================*/
/*
#background-dark {
	display: none;
}
#overlay {
	position: absolute;
	background-color: white;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 20;
	display: none;
}
#overlay-title {
	color: #333;
	font-size: 1.25em;
	padding: 15px 0;
	text-align: center;
	background-color: #eee04b;
}
#overlay-content {
	padding: 20px 30px;
	height: 300px;
	overflow-y: scroll;
}
#overlay-content img {
	border-radius: 50%;
	width: 40px;
	height: 40px;
	float: left;
}
.image-row {
	padding-bottom: 8px;
	margin-bottom: 8px;
	overflow: auto;
}
.image-row button {
	color: #693ca1;
	width: 6em;
	background-color: transparent;
	font-family: Karla;
	outline: none;
	border: 1px solid #693ca1;
	padding: 5px 10px;
	margin: 0 5px;
}
.row-buttons {
	float: right;
	margin-top: 5px;
}
#overlay h4 {
	color: #333;
	display: block;
	float: left;
	font-size: 1em;
	margin: 10px 0 0 10px;
}
#overlay-close {
	position: absolute;
	font-size: 4em;
	color: #333;
	z-index: 30;
	font-family: serif;
	top: -7px;
	right: 5px;
	display: none;
}
#overlay-close:hover {
	cursor: pointer;
}

@media only screen and (min-width: 768px) {
	#background-dark {
		position: fixed;
		height: 100%;
		width: 100%;
		top: 0;
		background-color: rgba(0,0,0,.85);
		z-index: 10;
		display: none;
	}
	#overlay {
		position: fixed;
		min-width: 450px;
		background-color: transparent;
		left: 50%;
		transform: translateX(-50%);
		width: 25%;
		height: initial;
		top: 25%;
		padding: 20px;
	}
	#overlay-title {
		color: white;
		font-size: 1.25em;
		border-bottom: 2px solid white;
		padding-bottom: 5px;
		background-color: transparent;
		text-align: left;
	}
	#overlay-content {
		padding: 20px 10px;
	}
	#overlay-content img {
		border-radius: 50%;
		width: 40px;
		height: 40px;
		float: left;
	}
	.image-row {
		padding-bottom: 8px;
		margin-bottom: 8px;
		overflow: auto;
	}
	.image-row button {
		color: white;
		background-color: transparent;
		outline: none;
		border: 2px solid white;
		border-radius: 5px;
		margin: 0 5px;
	}
	.row-buttons {
		float: right;
		margin-top: 5px;
	}
	#overlay h4 {
		color: white;
		display: block;
		float: left;
		font-size: 1em;
		margin: 11px 0 0 10px;
	}
	#overlay-close {
		position: absolute;
		font-size: 4em;
		color: white;
		z-index: 30;
		font-family: serif;
		top: -10px;
		right: 5px;
		display: none;
	}
	#overlay-close:hover {
		cursor: pointer;
	}
}

/*=================== OVERLAY STYLING END ====================*/

/*=================== MODAL STYLING START ====================*/
/*
#ask-article {
	text-align: center;
	padding: 20px 0;
	margin-bottom: 30px;
	background-color: white;
	position: relative;
}
#close-button {
	font-family: serif;
	position: absolute;
	font-size: 3em;
	top: -5px;
	right: 5px;
}
#close-button {
	display: none;
	cursor: pointer;
}
#open-button button {
	padding: 0;
	border-radius: 50%;
	font-family: initial;
	border: 1px solid #693ca1;
	width: 50px;
	height: 50px;
	background-color: white;
	margin-bottom: 10px;
	color: #693ca1;
	font-size: 35px;
	outline: none;
}
#open-button * {
	cursor: pointer;
}
#ask-article h5 {
	color: #693ca1;
}
#modal {
    display: none;
}
#modal-content {
    background-color: white;
    height: 100%;
}
#modal-content h1 {
	background-color: #693ca1;
	font-size: 1.5em;
	color: white;
	text-align: center;
	padding: 15px;
}
.input-row {
	margin-bottom: 20px;
}
/*input {
	padding: 10px 0 10px 45px;
	background-repeat: no-repeat;
	background-size: 20px;
	background-position: 9px;
	font-size: 1em;
	box-sizing: border-box;
	display: block;
	width: 90%;
	margin: 0 auto;
	font-family: Karla;
	outline: none;
	border: none;
	border-radius: 10px;
	background-color: #f1f1f1;
}
.input-row:nth-of-type(1) {
	margin-top: 20px;
}
/*input[type="text"]:focus {
	border-color: #eee04b;
	box-shadow: 0 0 3px 2px rgba(238, 224, 75, 1);
}
#modal button {
	background-color: #eee04b;
	border-radius: 10px;
	font-family: Karla;
	font-size: 1em;
	color: #333;
	width: 90%;
	border: 0px;
	padding: 10px;
	cursor: pointer;
	position: relative;
}
button img {
	width: 23px;
	height: 23px;
	position: absolute;
	top: 7px;
	right: 7px;
}
#answer-3 {
	display: none;
}
#answer-4 {
	display: none;
}
#answer-5 {
	display: none;
}

@media only screen and (min-width: 500px) {
	#modal-content {
	    background-color: white;
	}
	#open-button button {
		width: 70px;
		height: 70px;
		font-size: 50px;
	}
}

/*=================== MODAL STYLING END ======================*/
