/*=================== GENERAL STYLING START ==================*/

@font-face {
	font-family: 'Jaapokki';
	src: url('/static/fonts/jaapokkisubtract-regular.woff');
}
@font-face {
	font-family: 'Gotham';
	src: url('/static/fonts/GothamHTF-Book.woff');
}
html {
	font-family: Gotham, sans-serif;
}
a {
	text-decoration: none;
}
* {
	color: #353436;
}

@media only screen and (min-width: 1200px) {
	html, body, section, article {
		height: 100%;
	}
	body {
		overflow-x: hidden;
	}
}

/*=================== GENERAL STYLING END ====================*/

/*=================== LARGE-DISP STYLING START ===============*/

@media only screen and (min-width: 1200px) {
	body {
		background: #f1f1f1;
	}
	main {
		box-sizing: border-box;
	}
	main * {
		box-sizing: border-box;
	}
	#main-content {
		width: calc(100% - 240px);
		float: right;
		padding-top: 130px;
	}
	#main-content-wrapper {
		width: calc(100% - 68px);
		margin: 0 auto;
	}
	#main-content-title {
		color: #353436;
		font-size: 2em;
		margin-bottom: 50px;
	}
	#main-content-selection {
		border-top: 1px solid rgba(212, 210, 213, 0.7);
		border-bottom: 1px solid rgba(212, 210, 213, 0.7);
		overflow: auto;
		padding: 10px 0;
		margin-bottom: 30px;
	}
	.selection {
		float: left;
		color: #d4d2d5;
		font-size: 0.9em;
		margin-right: 30px;
	}
	.selection:first-of-type {
		color: #353436;
	}
	#feed {
		column-count: 3;
		column-gap: 20px;
	}
	#feed .question-wrapper {
		break-inside: avoid;
		padding-bottom: 20px;
	}
	#off-canvas-comments {
		position: absolute;
		right: -33%;
		z-index: 20;
		top: 80px;
		height: calc(100% - 80px);
		width: 33%;
		background: #f1f1f1;
		padding: 30px;
	}
	#content-overlay {
		position: absolute;
		width: 100%;
		height: calc(100% - 80px);
		top: 80px;
		left: 0;
		opacity: 0;
		background: black;
		z-index: -10;
	}
}