/*=================== GENERAL STYLING START ==================*/

@font-face {
	font-family: 'Jaapokki';
	src: url('/static/fonts/jaapokkisubtract-regular.woff');
}
@font-face {
	font-family: 'Gotham';
	src: url('/static/fonts/GothamHTF-Book.woff');
}
html {
	font-family: Gotham, sans-serif;
}
a {
	text-decoration: none;
}
* {
	color: #353436;
	box-sizing: border-box;
}

@media only screen and (min-width: 1200px) {
	html, body, section {
		height: 100%;
	}
	body {
		overflow-x: hidden;
	}
}

/*=================== GENERAL STYLING END ====================*/

#off-canvas-comments-backer {
	position: fixed;
	top: 100%;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 110;
	background: rgba(46, 179, 152, .8);
	display: none;
	will-change: transform;
}
#off-canvas-comments {
	position: fixed;
	top: 100%;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 120;
	background: #f1f1f1;
	display: none;
	will-change: transform;
}
#close-comments {
	height: 46px;
	background: #2eb398;
	position: relative;
}
#close-comments div:first-of-type {
	font-family: serif;
    font-size: 3em;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    padding-right: 23px;
    padding-left: 6px;
}
#close-comments div:nth-of-type(2) {
	font-size: 1.25em;
	line-height: 1.25em;
    color: white;
    position: absolute;
    left: 55px;
    top: 50%;
    transform: translateY(-50%);
}
.comment-section {
	height: calc(100% - 46px);
}
.all-comments {
	height: calc(100% - 46px);
	padding-bottom: 0 !important;
	overflow: auto;
	-webkit-overflow-scrolling: touch;
}
main {
	max-width: 460px;
	margin: 0 auto;
}
#main-content {
	padding-top: 46px;
}
.question-wrapper {
	border-bottom: 15px solid #f1f1f1;
}
.comment-count:hover {
	cursor: pointer;
}
.comment-count:hover {
	cursor: pointer;
}
#main-content-header {
	width: calc(100% - 16px);
    margin: 0 auto;
    margin-top: 14px;
    overflow: auto;
    margin-bottom: 4px;
    position: relative;
    padding: 3px 0;
}
#main-content-title {
	color: #999;
    font-size: 0.8em;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: #f1f1f1;
    border-radius: 30px;
    padding: 8px;
}
#main-content-title form {
	display: inline-block;
	transform: translate(10px, -4px);
}
#main-content-selection {
	float: right;
	height: 24px;
}
#main-content-selection a:first-of-type .selection {
	margin-right: 10px;
}
.selection svg {
	transition: fill 0.3s;
}
.selection svg:hover {
	fill: #2eb398;
}
.selection {
	float: left;
}
#mobile-tab-bar-wrapper {
	display: block !important;
	opacity: 1 !important;
}

@media only screen and (min-width: 380px) {
	#close-comments div:first-of-type {
		padding-left: 16px;
	}
	#close-comments div:nth-of-type(2) {
		left: 70px;
	}
	input[name="comment"] {
		padding-left: 20px !important;
	}
}

@media only screen and (min-width: 460px) {
	body {
		background: #f1f1f1;
	}
	.question-wrapper {
		margin-bottom: 20px;
	}
	#main-content-header {
		width: 100%;
		margin-bottom: 8px;
	}
	#main-content-title {
		background: white;
		font-size: 0.9em;
	}
}

@media only screen and (min-width: 900px) {
	main {
		max-width: calc(100% - 60px);
		overflow: auto;
	}
	#main-content {
		padding-top: 86px;
	}
	#main-content-header {
		width: calc(100% - 20px);
	}
	#main-content-title {
		font-size: 1.5em;
	}
	.selection {
		font-size: .9em;
	}
	.question-wrapper {
		width: calc(50% - 20px);
		float: left;
		margin: 0 10px 20px 10px;
	}
	.comment-section {
		position: initial !important;
	}
	.comment-form img {
		border-bottom-right-radius: 0 !important;
	}
}

@media only screen and (min-width: 1200px) {
	#close-comments {
		display: none;
	}
	#side-column {
		display: initial;
	}
	main {
		box-sizing: border-box;
		max-width: initial;
		width: initial;
		overflow: initial;
	}
	main * {
		box-sizing: border-box;
	}
	#main-content {
		width: calc(100% - 240px);
		float: right;
		padding-top: 130px;
	}
	#main-content-wrapper {
		width: calc(100% - 68px);
		margin: 0 auto;
	}
	.question-wrapper {
		width: initial;
		float: initial;
		margin: initial;
	}
	#follow-topic-button {
	    padding: 5px 10px;
	    border: 1px solid #2eb398;
	    outline: none;
	    background: transparent;
	    color: #2eb398;
	    font-family: Gotham;
	    font-size: 0.5em;
	    border-radius: 3px;
	}
	#follow-topic-button:hover {
		background: #2eb398;
		color: white;
		cursor: pointer;
	}
	#follow-topic-button.active {
		background: #2eb398;
		color: white;
	}
	#follow-topic-button.active:hover {
		background: #23927c;
		border: 1px solid #23927c;
		color: white;
	}
	#topic-metrics {
		margin-top: 20px;
		font-size: 0.55em;
	}
	#topic-metrics > div {
		display: inline-block;
		margin-right: 30px;
	}
	#topic-metrics span {
		font-weight: bold;
	}
	#topic-follower-count:hover {
		cursor: pointer;
	}
	#relation-wrapper {
	    border-top: 1px solid rgba(212, 210, 213, 0.7);
	    border-bottom: 1px solid rgba(212, 210, 213, 0.7);
	    margin: 0 auto;
	    margin-top: 30px;
	    margin-bottom: 15px;
	    padding: 15px 0 30px 0;
	    overflow: hidden;
	}
	#relation-header {
		font-size: 0.55em;
		margin-bottom: 15px;
	}
	#users {
		column-count: 12;
		column-gap: 5px;
		column-fill: balance;
	}
	.user {
		-webkit-column-break-inside: avoid;
		break-inside: avoid;
	}
	.user img {
		width: 100%;
		object-fit: cover;
	}
	#feed {
		column-count: 3;
		column-gap: 20px;
		column-fill: balance;
	}
	#feed .question-wrapper {
		-webkit-column-break-inside: avoid;
        page-break-inside: avoid;
        break-inside: avoid;
		padding-bottom: 20px;
		margin-bottom: 0;
	}
	#off-canvas-comments-backer {
		right: 0;
		left: initial;
		height: calc(100% - 80px);
		width: 33%;
		z-index: 49;
		background: rgba(46, 179, 152, .8);
	}
	#off-canvas-comments {
		right: 0;
		left: initial;
		height: calc(100% - 80px);
		width: 33%;
		z-index: 50;
		background: #f1f1f1;
		padding: 30px;
	}
	.comment-section {
		height: 100%;
		position: relative !important;
	}
	.comment-form img {
		border-bottom-right-radius: 6px !important;
	}
	#content-overlay {
		position: fixed;
		width: 100%;
		height: calc(100% - 80px);
		top: 80px;
		left: 0;
		opacity: 0;
		background: black;
		z-index: -10;
	}
	#main-content-header {
		width: 100%;
		border-top: 1px solid rgba(0,0,0,.1);
		padding-top: 20px;
		overflow: auto;
	}
	#main-content-title {
		font-size: 1em;
		float: left;
		letter-spacing: 0.05em;
		margin-bottom: 30px;
	}
}