/*=================== QUESTION STYLING START ===============*/

.question-wrapper {
	position: relative;
}
.question-image {
	height: 170px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 40%;
	border-bottom: none;
	position: relative;
}
.question-image-overlay {
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,.4);
}
.asker-info {
	position: absolute;
	bottom: -16px;
	left: 10px;
	z-index: 10;
}
.asker-profile-pic {
	float: left;
	margin-right: 8px;
}
.asker-profile-pic img {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	box-shadow: 0 0 0 2px white;
	object-fit: cover;
}
.asker-text {
	display: inline-block;
	transform: translateY(4px);
}
.asker-username {
	float: left;
	margin-bottom: 9px;
}
.asker-username a {
	color: white;
	font-size: 0.75em;
}
.question-date {
	color: #868686;
	font-size: 0.65em;
}
.action-buttons {
	position: absolute;
	z-index: 10;
	bottom: 1px;
	right: 8px;
}
.favorite-count {
	display: inline-block;
}
.comment-count {
	display: inline-block;
}
.count-text {
	color: white;
	font-size: 0.75em;
	min-width: 20px;
	text-align: right;
	float: left;
	transform: translate(-5px, 2px);
}
.svg-image {
	float: left;
}
.svg-image:hover {
	cursor: pointer;
}
.svg-image svg {
	height: 16px;
}
.question-title {
	position: absolute;
	bottom: 40px;
	padding: 0 8px;
}
.question-title a {
	word-wrap: break-word;
	line-height: 1.1em;
	font-size: 1em;
	letter-spacing: 0.01em;
	color: white;
}
.question-content {
	background: white;
	border-top: none;
	position: relative;
	padding-top: 15px;
}
.vote-count {
	font-size: 0.70em;
	color: #868686;
	padding: 5px 8px;
	text-align: right;
}
.labels {
	background: white;
}
.poll-answer {
	padding-top: 14px;
}
.percent-and-bar:hover {
	cursor: pointer;
}
.percent-and-bar:hover .poll-percentage-wrapper {
	background-color: #2eb398;
}
.percent-and-bar:hover .poll-percentage {
	color: white;
}
.poll-percentage-wrapper {
	width: 40px;
	height: 20px;
	float: left;
	text-align: center;
	transition: background-color 0.3s;
}
.poll-percentage-wrapper.active {
	background: #2eb39c;
}
.poll-percentage-wrapper.active * {
	color: white;
}
.poll-percentage {
	transform: translateY(4px);
	font-size: 0.75em;
	transition: color 0.3s
}
.bar-wrapper1 {
	margin-left: 40px;
	transform: translateX(0px);
	width: calc(100% - 40px);
}
.bar-wrapper2 {
	width: 100%;
}
.poll-bar {
	height: 20px;
	background-color: #2eb398;
	width: 100%;
}
.poll-bar > div {
	position: absolute;
	top: 4px;
	left: 5px;
	font-size: 0.75em;
}
.topics-container {
	background: #e4e4e4;
	padding: 0 5px 3px 5px;
}
.question-topic {
	display: inline-block;
	margin: 0 5px;
}
.question-topic a {
	font-size: 0.75em;
}

@media only screen and (min-width: 380px) {
	.question-title {
		bottom: 40px;
		padding: 0 18px;
	}
	.asker-info {
		bottom: -18px;
		left: 20px;
	}
	.asker-profile-pic {
		margin-right: 10px;
	}
	.asker-profile-pic img {
		width: 45px;
		height: 45px;
	}
	.asker-text {
		transform: translateY(8px);
	}
	.asker-username {
		margin-bottom: 9px;
	}
	.asker-username a {
	    font-size: 0.95em;
	}
	.question-date {
	    font-size: 0.8em;
	}
	.action-buttons {
	    bottom: 1px;
	    right: 18px;
	}
	.count-text {
		font-size: 0.85em;
		min-width: 25px;
	}
	.question-image {
		height: 190px;
	}
	.poll-answer {
		padding-top: 16px;
	}
	.poll-percentage-wrapper {
		height: 22px;
	}
	.poll-percentage {
		transform: translateY(4px);
	    font-size: 0.85em;
	}
	.poll-bar {
		height: 22px;
	}
	.poll-bar > div {
		top: 4px;
		font-size: 0.85em;
	}
	.vote-count {
		font-size: 0.75em;
	}
	.question-topic a {
		font-size: 0.85em
	}
}

@media only screen and (min-width: 420px) {
	.question-title {
		bottom: 52px;
		padding: 0 18px;
	}
	.question-title a {
		font-size: 1.15em;
	}
	.asker-info {
		bottom: -19px;
		left: 20px;
	}
	.asker-profile-pic {
		margin-right: 10px;
	}
	.asker-profile-pic img {
		width: 50px;
		height: 50px;
	}
	.asker-text {
		transform: translateY(11px);
	}
	.asker-username {
		margin-bottom: 10px;
	}
	.asker-username a {
	    font-size: .85em;
	}
	.question-date {
	    font-size: 0.65em;
	}
	.action-buttons {
	    bottom: 0px;
	    right: 18px;
	}
	.count-text {
		font-size: 0.8em;
		min-width: 25px;
	}
	.svg-image svg {
		height: 18px;
	}
	.question-image {
		height: 210px;
	}
	.question-content {
		padding-top: 20px;
	}
	.poll-answer {
		padding-top: 18px;
	}
	.poll-percentage-wrapper {
		height: 26px;
		width: 45px;
	}
	.poll-percentage {
		transform: translateY(6px);
	    font-size: 0.9em;
	}
	.bar-wrapper1 {
		margin-left: 45px;
		width: calc(100% - 45px);
	}
	.poll-bar {
		height: 26px;
	}
	.poll-bar > div {
		top: 6px;
		font-size: 0.9em;
	}
	.vote-count {
		font-size: 0.8em;
		padding: 5px 18px;
	}
	.topics-container {
		padding: 1px 5px 4px 5px;
	}
	.question-topic a {
		font-size: 0.9em
	}
}

/*@media only screen and (min-width: 480px) {
	.question-title {
		bottom: 57px;
		padding: 0 28px;
	}
	.question-title a {
		font-size: 1.2em;
	}
	.asker-info {
		bottom: -22px;
		left: 30px;
	}
	.asker-profile-pic {
		margin-right: 12px;
	}
	.asker-profile-pic img {
		width: 60px;
		height: 60px;
	}
	.asker-text {
		transform: translateY(17px);
	}
	.asker-username {
		margin-bottom: 10px;
	}
	.asker-username a {
	    font-size: 1.05em;
	}
	.question-date {
	    font-size: 0.85em;
	}
	.action-buttons {
	    bottom: 1px;
	    right: 28px;
	}
	.count-text {
		font-size: 0.95em;
		min-width: 25px;
	}
	.svg-image svg {
		height: 20px;
	}
	.question-image {
		height: 220px;
	}
	.question-content {
		padding-top: 25px;
	}
	.poll-answer {
		padding-top: 18px;
	}
	.poll-percentage-wrapper {
		height: 26px;
		width: 45px;
	}
	.poll-percentage {
		transform: translateY(6px);
	    font-size: 0.9em;
	}
	.bar-wrapper1 {
		margin-left: 45px;
		width: calc(100% - 45px);
	}
	.poll-bar {
		height: 26px;
	}
	.poll-bar > div {
		top: 6px;
		font-size: 0.9em;
	}
	.vote-count {
		font-size: 0.9em;
		padding: 5px 18px;
	}
	.topics-container {
		padding: 1px 5px 4px 5px;
	}
	.question-topic a {
		font-size: 0.9em
	}
}*/

/*=================== QUESTION STYLING END =================*/