/*=================== GENERAL STYLING START ==================*/

@font-face {
	font-family: 'Jaapokki';
	src: url('/static/fonts/jaapokkisubtract-regular.woff');
}
@font-face {
	font-family: 'Gotham';
	src: url('/static/fonts/GothamHTF-Book.woff');
}
html {
	font-family: Gotham, sans-serif;
}
a {
	text-decoration: none;
}
* {
	color: #353436;
	box-sizing: border-box;
}

/*=================== GENERAL STYLING END ====================*/

main {
	padding-top: 61px;
}
#question-content {
	margin-bottom: 20px;
	overflow: auto;
}

@media only screen and (min-width: 480px) {
	main {
		padding-top: 86px;
	}
}

@media only screen and (min-width: 800px) {
	#question-content {
		width: 50%;
		float: left;
	}
	#question-comments {
		width: 50%;
		height: 100%;
		float: left;
	}
}

@media only screen and (min-width: 1200px) {
	main {
		height: 100%;
		padding-top: 130px;
		width: 100%;
		max-width: 1010px;
		margin: 0 auto;
	}
	#question-content {
		width: 50%;
		float: left;
	}
	#question-comments {
		width: 50%;
		height: 100%;
		float: left;
	}
}
