article {
	width: 100%;
	box-shadow: 0 1px 2px rgba(0,0,0,.1);
	margin-bottom: 30px;
}
article:last-of-type {
	margin-bottom: 0;
}
.asker-info {
	background-color: white;
	padding: 10px 15px;
	overflow: auto;
}
.info {
	float: left;
	width: 50%;
}
.asker-info img {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	float: left;
	margin-right: 15px;
}
.asker-info a {
	color: #333;
}
.asker-info h2 {
	font-size: 1em;
	font-weight: bold;
	display: inline-block;
	margin-bottom: 3px;
}
.asker-info h3 {
	font-size: 0.8em;
	display: inline;
	color: #8d8d8d;
}
.asker-info a:hover {
	color: #00a2d7;
}
.info table {
	margin-top: 3px;
}
.vote-count {
	float: right;
	margin-top: 13px;
}
.vote-count h4 {
	color: #8d8d8d;
	font-size: 0.8em;
}
.question-image {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 40%;
	max-height: 280px;
}
.question {
	font-size: 1em;
	margin-bottom: 15px;
}
.question a {
	color: #333;
}
.question a:hover {
	color: #00a2d7;
}
.labels div {
	width: 30px;
	height: 15px;
	float: left;
	margin-right: 10px;
}
.labels h4:nth-child(1) div {
	background-color: #eee04b;
}
.labels h4:nth-child(2) div {
	background-color: #693ca1;
}
.labels h4:nth-child(3) div {
	background-color: #6a041d;
}
.labels h4:nth-child(4) div {
	background-color: #19ac9d;
}
.labels h4:nth-child(5) div {
	background-color: #3772ff;
}
.labels h4 {
	padding: 10px;
	border-radius: 10px;
	clear: left;
	transition: background-color 0.3s;
}
.labels h4:hover {
	background-color: #f1f1f1;
	cursor: pointer;
}
.labels .active {
	background-color: #f1f1f1;
}
canvas {
	margin: 10px 0;
}
.chart {
	padding: 15px;
	background-color: white;
}
.chart-footer {
	margin: 0 auto;
	border-top: 2px solid rgba(141, 141, 141, 0.15);
	border-bottom: 2px solid rgba(141, 141, 141, 0.15);
	padding: 5px 0;
	width: 100%;
	font-size: 0.9em;
	overflow: auto;
}
.chart-footer h4 {
	color: #8d8d8d;
	display: block;
	width: 33.3%;
	float: left;
}
.chart-footer span {
	color: #8d8d8d;
}
.svg-image {
	width: 20px;
	height: 20px;
	display: inline-block;
}
.chart-footer svg {
	height: 20px;
	width: 20px;
	vertical-align: middle;
}
img.active {
	display: initial;
}
.share-count {
	text-align: center;
}
.comment-count {
	text-align: right;
	width: 33.4%;
}
.comment-count-text {
	display: inline;
	color: #8d8d8d;
}

@media only screen and (min-width: 600px) {
	article {
		width: 37%;
		max-width: 800px;
		min-width: 580px;
		margin: 0 auto;
		overflow: auto;
		margin-bottom: 50px;
	}
	article:last-of-type {
		margin-bottom: 50px;
	}
	.asker-info h2 {
		font-size: 1.2em;
	}
	.asker-info h3 {
		font-size: 0.9em;
	}
	.vote-count h4 {
		font-size: 1em;
	}
	.info table {
		margin-top: 0;
	}
	.question-image {
		max-height: 340px;
	}
	.question {
		font-size: 1.3em;
	}
	canvas {
		margin: 20px 0;
	}
	.chart-footer h4 {
		font-size: 1.1em;
	}
	.svg-image {
		height: 30px;
		width: 30px;
	}
	.chart-footer svg {
		height: 30px;
		width: 30px;
	}
}