@media only screen and (min-width: 1200px) {
	article {
		position: absolute;
		left: 240px;
		top: 0;
		height: 100%;
		width: calc(50% - 240px);
		background-color: #f1f1f1;
	}
	.question {
		width: 80%;
		height: 400px;
		margin: 0 auto;
		margin-top: 30px;
		margin-bottom: 30px;
		background-color: white;
		padding: 10px;
		box-sizing: border-box;
		position: relative;
	}
	.asker-info {
		overflow: auto;
		margin-bottom: 15px;
	}
	.asker-profile-pic {
		float: left;
		margin-right: 10px;
	}
	.asker-profile-pic img {
		height: 40px;
		width: 40px;
		border-radius: 50%;
	}
	.asker-text {
		float: left;
		margin-top: 5px;
	}
	.asker-username {
		font-weight: bold;
		margin-bottom: 5px;
	}
	.asker-username a {
		color: #333;
	}
	.question-date {
		font-size: 0.8em;
		color: #8d8d8d;
	}
	.question-image {
		background-repeat: no-repeat;
	    background-size: cover;
	    background-position: 50% 40%;
	    position: absolute;
	    right: 0;
	    top: 0;
	    height: 100%;
	    width: 37%;
	}
	.chart {
		clear: left;
		width: calc(63% - 10px);
	}
	.question-title {
		font-size: 1.75em;
		font-weight: bold;
		margin-bottom: 20px;
	}
	.question-title a {
		color: #333;
	}
	.backer1 {
		position: absolute;
		width: 90%;
		height: 10px;
		background-color: rgb(228, 228, 228);
		left: 50%;
		transform: translateX(-50%);
		top: -10px;
	}
	.backer2 {
		position: absolute;
		width: 80%;
		height: 10px;
		background-color: rgb(235, 235, 237);
		left: 50%;
		transform: translateX(-50%);
		top: -20px;
	}
}