/*=================== GENERAL STYLING START ==================*/

html {
	font-family: Karla, sans-serif;
}
a {
	text-decoration: none;
}

/*=================== GENERAL STYLING END ====================*/

/*=================== LARGE-DISP STYLING START ===============*/

@media only screen and (min-width: 1200px) {
	html, body, section, article {
		height: 100%;
	}
	header {
		position: absolute;
		width: 240px;
		height: 100px;
		z-index: 100;
		padding: 20px;
		box-sizing: border-box;
	}
	#logo {
		float: left;
		font-size: 2em;
		margin-top: 12px;
	}
	#logo a {
		color: #f1f1f1;
	}
	#header-context img {
		width: 60px;
		height: 60px;
		float: right;
		border-radius: 50%;
	}
	nav {
		position: absolute;
		left: 0;
		width: 240px;
		height: 100%;
		padding: 20px;
		padding-top: 130px;
		z-index: 30;
		box-sizing: border-box;
		background-color: #333;
		background-image: url(http://img.wallpaper.sc/iphone5s/images/iphone5s-744x1392-wallpaper_03204.jpg);
		background-repeat: no-repeat;
		background-position: 15% 0%;
		background-size: cover;
	}
	#user-bio {
		line-height: 1.3em;
		color: #f1f1f1;
		padding: 15px 0;
		margin-bottom: 100px;
		border-top: 1px solid rgba(255,255,255,.3);
		border-bottom: 1px solid rgba(255,255,255,.3);
	}
	#account-button {
		color: #f1f1f1;
		padding: 15px 0;
		margin-bottom: 100px;
		border-top: 1px solid rgba(255,255,255,.3);
		border-bottom: 1px solid rgba(255,255,255,.3);
	}
	#account-button button {
		background: transparent;
		border: none;
		color: #f1f1f1;
		font-size: 1.5em;
		outline: none;
	}
	#account-button button:hover {
		cursor: pointer;
	}
	#nav-links li {
		color: #f1f1f1;
		font-size: 1.2em;
		margin: 10px 0;
		padding-top: 10px;
		border-top: 1px solid rgba(255,255,255,.3);
	}
	#nav-links li:first-of-type {
		border-top: none;
	}
	article {
		position: relative;
	}
	.question-image {
		height: 34%;
		width: 50%;
		position: absolute;
		top: 0;
		right: 0;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: 50% 40%;
	}
	.question-image-overlay {
		width: 100%;
		height: 100%;
		background: linear-gradient(180deg, rgba(0,0,0,0), rgba(0,0,0,.4));
	}
	.asker-info {
		width: 50%;
		position: absolute;
		top: 34%;
		right: 0;
	}
	.info {
		padding: 10px 60px;
		overflow: auto;
		position: relative;
		top: -58px;
		z-index: 20;
	}
	#asker-profile-pic {
		float: left;
		margin-right: 20px;
	}
	#asker-profile-pic img {
		width: 80px;
		height: 80px;
		border-radius: 50%;
	}
	#asker-text {
		float: left;
		margin-top: 21px;
	}
	#asker-username {
		float: left;
	}
	#asker-username a {
		color: white;
	}
	#middot {
		float: left;
		color: #8d8d8d;
		font-size: 2em;
		margin: 0 9px;
		position: relative;
		top: -8px;
	}
	#question-date {
		float: left;
		color: #8d8d8d;
	}
	.vote-count {
		clear: left;
		color: #333;
		padding-top: 5px;
	}
	.chart {
		width: 50%;
		position: absolute;
		top: calc(34% + 75px);
		right: 0;
		padding: 0 60px;
		box-sizing: border-box;
	}
	.question-title a {
		color: #333;
		font-size: 3.25em;
		font-family: 'Merriweather', serif;
	}
	.labels {
		padding-top: 50px;
	}
	.labels h4 {
		color: #333;
		font-size: 1.25em;
		padding-left: 48px;
	}
	.poll-percentage {
		float: left;
		font-size: 1.25em;
		color: #333;
		width: 40px;
		position: relative;
		top: 4px;
	}
	.bar-wrapper1 {
		margin-left: 48px;
		width: calc(100% - 48px);
	}
	.bar-wrapper2 {
		width: 100%;
	}
	.poll-bar {
		height: 30px;
		margin: 5px 0 25px 0;
		background-color: #693ca1;
		width: 100%;
	}
	.chart-footer {
		position: absolute;
		bottom: 0;
		right: 0;
		padding: 0 60px 20px 60px;
		box-sizing: border-box;
		width: 50%;
	}
	.chart-footer > div {
		color: #8d8d8d;
		display: block;
		width: 33.3%;
		float: left;
	}
	.chart-footer span {
		color: #8d8d8d;
	}
	.svg-image {
		width: 30px;
		height: 30px;
		display: inline-block;
	}
	.chart-footer svg {
		height: 30px;
		width: 30px;
		vertical-align: middle;
	}
	img.active {
		display: initial;
	}
	.favorite-count {
		float: left;
		width: 33.3%;
	}
	.share-count {
		width: 33.3%;
		float: left;
		text-align: center;
	}
	.comment-count {
		text-align: right;
		float: left;
		width: 33.4%;
	}
	.comment-count-text {
		display: inline;
		color: #8d8d8d;
	}
}

/*=================== LARGE-DISP STYLING END =================*/