/*=================== GENERAL STYLING START ==================*/

@font-face {
	font-family: 'Jaapokki';
	src: url('/static/fonts/jaapokkisubtract-regular.woff');
}
@font-face {
	font-family: 'Gotham';
	src: url('/static/fonts/GothamHTF-Book.woff');
}
html {
	font-family: Gotham, sans-serif;
}
a {
	text-decoration: none;
}
* {
	color: #353436;
	box-sizing: border-box;
}

/*=================== GENERAL STYLING END ====================*/

@media only screen and (min-width: 1200px) {
	body {
		background: #f1f1f1;
	}
	main {
		padding-top: 130px;
	}
	#user-settings {
		background: white;
		border-radius: 5px;
		max-width: 1010px;
		padding: 20px;
		margin: 0 auto;
		height: initial;
		position: relative;
	}
	#user-profile-pic {
		text-align: center;
		margin-bottom: 10px;
		position: relative;
	}
	#user-profile-pic img {
		border-radius: 50%;
		height: 180px;
		width: 180px;
		transition: opacity 0.3s;
	}
	#user-profile-pic img:hover {
		cursor: pointer;
		opacity: 0.2;
	}
	#user-profile-pic form {
		display: none;
		position: absolute;
		width: 30%;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
	#user-profile-pic input {
		width: 100%;
		font-size: 1em;
		font-family: Gotham;
		padding: 5px 20px;
		border: none;
		outline: none;
		background: #f1f1f1;
		text-align: center;
		border-radius: 3px;
	}
	#profile-pic-error {
		display: none;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		left: calc(65% + 10px);
		text-align: left;
		font-size: 0.85em;
		color: red;
	}
	#username {
		margin-bottom: 10px;
		text-align: center;
		position: relative;
	}
	#username .wrapper {
		font-size: 2em;
	}
	#username form {
		font-size: 2em;
		display: none;
		width: 30%;
	}
	#username input {
	    background: #f1f1f1;
	    padding: 4px 20px;
	    border-radius: 3px;
	    width: 100%;
	    font-size: 1em;
	    border: none;
	    outline: none;
	    text-align: center;
	    font-family: Gotham;
	}
	#username-error {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		left: calc(65% + 10px);
		text-align: left;
		font-size: 0.85em;
		color: red;
	}
	#bio {
		text-align: center;
		margin-bottom: 40px;
	}
	#bio form {
		display: none;
		width: 30%;
	}
	#bio input {
	    background: #f1f1f1;
	    padding: 4px 20px;
	    border-radius: 3px;
	    width: 100%;
	    font-size: 1em;
	    border: none;
	    outline: none;
	    text-align: center;
	    font-family: Gotham;
	}
	#user-settings .wrapper {
		display: inline-block;
		background: #f1f1f1;
		padding: 5px 20px;
		border-radius: 3px;
		width: 30%;
	}
	#user-settings .wrapper:hover {
		cursor: pointer;
	}
	#bio .wrapper {
		min-height: 1.5em;
	}
	#row-settings {
		width: calc(100% - 252px);
		margin: 0 auto;
	}
	.row {
		padding: 25px 0;
		border-top: 1px solid rgba(0,0,0,.1);
		overflow: auto;
		position: relative;
	}
	.row:last-of-type {
		border-bottom: 1px solid rgba(0,0,0,.1);
		margin-bottom: 20px;
	}
	.row form {
		display: none;
	}
	.key {
		float: left;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
	}
	.value {
		float: right;
	}
	.form-input {
		outline: none;
		border: none;
		padding: 5px 10px;
		text-align: left;
		background: #f1f1f1;
		border-radius: 5px;
		font-family: Gotham;
		font-weight: bold;
		font-size: 1em;
		max-width: 180px;
		margin-right: 5px;
	}
	.form-button {
		border: none;
		outline: none;
		background: #2eb398;
		font-family: Gotham;
		border-radius: 3px;
		color: white;
		padding: 7px;
		transform: translateY(-1px);
	}
	.form-button:hover {
		cursor: pointer;
		background: #23927c;
	}
	#email {
		padding: 5px 0;
		color: #2eb398;
		font-weight: bold;
	}
	#email:hover {
		cursor: pointer;
	}
	#custom-url {
		padding: 5px 0;
		color: #2eb398;
		font-weight: bold;
	}
	#custom-url:hover {
		cursor: pointer;
	}
	.error-message {
		position: absolute;
		right: 0;
		bottom: 5px;
		font-size: 0.85em;
		color: red;
	}
}