/*=================== GENERAL STYLING START ==================*/

@font-face {
	font-family: 'Jaapokki';
	src: url('/static/fonts/jaapokkisubtract-regular.woff');
}
@font-face {
	font-family: 'Gotham';
	src: url('/static/fonts/GothamHTF-Book.woff');
}
html {
	font-family: Gotham, sans-serif;
}
a {
	text-decoration: none;
}
* {
	color: #353436;
	box-sizing: border-box;
}

/*=================== GENERAL STYLING END ====================*/

main {
	padding-top: 45px;
}
#user-settings {
	background: white;
	padding-top: 50px;
}
#user-profile-pic {
	text-align: center;
	margin-bottom: 25px;
	position: relative;
}
#user-profile-pic img {
	border-radius: 50%;
	height: 120px;
	width: 120px;
	transition: opacity 0.3s;
	object-fit: cover;
}
#user-profile-pic img:hover {
	cursor: pointer;
	opacity: 0.2;
}
#user-profile-pic form {
	display: none;
	position: absolute;
	width: calc(100% - 20px);
	max-width: 250px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
#user-profile-pic input {
	width: 100%;
	font-size: 1em;
	font-family: Gotham;
	padding: 5px 20px;
	border: none;
	outline: none;
	background: #f1f1f1;
	text-align: center;
	border-radius: 3px;
}
#profile-pic-error {
	font-size: 0.85em;
	color: #e64c65;
}
#username {
	margin-bottom: 10px;
	text-align: center;
	position: relative;
}
#username .wrapper {
	font-size: 1.5em;
}
#username form {
	font-size: 1.5em;
	display: none;
	width: calc(100% - 20px);
	max-width: 250px;
}
#username input {
    background: #f1f1f1;
    padding: 4px 0;
    border-radius: 3px;
    width: 100%;
    font-size: 1em;
    border: none;
    outline: none;
    text-align: center;
    font-family: Gotham;
}
#username-error {
    text-align: left;
    font-size: 0.75em;
    color: #e64c65;
    margin: 0 auto;
    margin-top: 3px;
    width: calc(100% - 20px);
    max-width: 250px;
}
#bio {
	text-align: center;
	margin-bottom: 40px;
}
#bio form {
	display: none;
	width: calc(100% - 20px);
	max-width: 250px;
}
#bio input {
    background: #f1f1f1;
    padding: 4px 20px;
    border-radius: 3px;
    width: 100%;
    font-size: 1em;
    border: none;
    outline: none;
    text-align: center;
    font-family: Gotham;
}
#user-settings .wrapper {
	background: #f1f1f1;
	padding: 5px 0;
	border-radius: 3px;
	width: calc(100% - 20px);
	max-width: 250px;
	margin: 0 auto;
}
#user-settings .wrapper:hover {
	cursor: pointer;
}
#bio .wrapper {
	min-height: 1.5em;
}
#row-settings {
	width: calc(100% - 20px);
	margin: 0 auto;
}
.row {
	padding: 25px 0;
	border-top: 1px solid rgba(0,0,0,.1);
	overflow: auto;
	position: relative;
}
.row:last-of-type {
	border-bottom: 1px solid rgba(0,0,0,.1);
	margin-bottom: 20px;
}
.row form {
	display: none;
    width: calc(100% - 20px);
    max-width: 250px;
    margin: 0 auto;
}
.key {
	float: left;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	font-size: 0.85em;
}
.value {
    width: 100%;
    text-align: right;
    font-size: 0.85em;
}
.value > .form-button {
	width: initial;
}
.form-input {
    outline: none;
    border: none;
    padding: 5px 10px;
    text-align: center;
    background: #f1f1f1;
    border-radius: 3px;
    font-family: Gotham;
    font-size: 1em;
    width: 100%;
    margin-bottom: 3px;
}
.form-button {
    border: none;
    outline: none;
    background: #2eb398;
    font-family: Gotham;
    border-radius: 3px;
    font-size: 1em;
    color: white;
    padding: 8px;
    width: 100%;
}
.form-button:hover {
	cursor: pointer;
	background: #23927c;
}
#url-prefix {
	text-align: left;
}
#email {
	padding: 5px 0;
	color: #2eb398;
	font-weight: bold;
	display: inline-block;
}
#email:hover {
	cursor: pointer;
}
#custom-url {
	color: #2eb398;
	font-weight: bold;
}
#custom-url:hover {
	cursor: pointer;
}
#custom-url-button {
	width: initial;
}
.error-message {
	font-size: 0.75em;
	color: #e64c65;
	width: calc(100% - 20px);
	max-width: 250px;
	margin: 0 auto;
	margin-top: 5px;
}

@media only screen and (min-width: 380px) {
	.key {
		font-size: 0.9em;
	}
	.value {
		font-size: 0.9em;
	}
}

@media only screen and (min-width: 480px) {
	.key {
		font-size: 0.95em;
	}
	.value {
		font-size: 0.95em;
	}
}

@media only screen and (min-width: 600px) {
	#user-profile-pic img {
		height: 130px;
		width: 130px;
	}
	#row-settings {
		max-width: 600px;
	}
	.key {
		font-size: 1em;
	}
	.value {
		font-size: 1em;
	}
}

@media only screen and (min-width: 700px) {
	#user-profile-pic img {
		width: 150px;
		height: 150px;
	}
}

@media only screen and (min-width: 900px) {
	body {
		background: #f1f1f1;
	}
	main {
		padding-top: 86px;
	}
	#user-settings {
		width: calc(100% - 80px);
		max-width: 1010px;
		border-radius: 5px;
		padding: 20px;
		margin: 0 auto;
		margin-bottom: 40px;
	}
	#user-profile-pic img:hover {
		cursor: pointer;
		opacity: 0.2;
	}
	#user-profile-pic form {
		width: 30%;
	}
	#user-profile-pic input {
		width: 100%;
		font-size: 1em;
		font-family: Gotham;
		padding: 5px 20px;
		border: none;
		outline: none;
		background: #f1f1f1;
		text-align: center;
		border-radius: 3px;
	}
	#profile-pic-error {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		left: calc(65% + 10px);
		text-align: left;
		font-size: 0.85em;
		color: #e64c65;
	}
	#username form {
		width: 30%;
	}
	#username input {
	    padding: 4px 20px;
	}
	#username-error {
	    position: absolute;
	    top: 50%;
	    transform: translateY(-50%);
	    left: calc(65% + 10px);
	    width: calc(35% - 10px);
	    margin-top: 0;
	}
	#bio form {
		width: 30%;
	}
	#user-settings .wrapper {
		display: inline-block;
		padding: 5px 20px;
		width: 30%;
	}
	#user-settings .wrapper:hover {
		cursor: pointer;
	}
	#row-settings {
		max-width: 650px;
	}
	.form-input {
		max-width: 250px;
		margin-right: 5px;
	}
	.form-button {
		padding: 8px 10px;
	}
	.form-button:hover {
		cursor: pointer;
		background: #23927c;
	}
	#email {
		padding: 5px 0;
		color: #2eb398;
		font-weight: bold;
	}
	#email:hover {
		cursor: pointer;
	}
	#custom-url:hover {
		cursor: pointer;
	}
	#url-prefix {
		margin-bottom: 2px;
	}
}

@media only screen and (min-width: 1200px) {
	main {
		padding-top: 130px;
	}
}