#side-column {
	display: none;
}
#side-column {
	position: fixed;
	width: 240px;
	padding-top: 130px;
	background: #353436;
}
#create-question {
	width: calc(100% - 68px);
	margin: 0 auto;
}
#create-question button {
	width: 100%;
	border: none;
	outline: none;
	color: white;
	background: #2eb398;
	padding: 10px 0;
	border-radius: 3px;
	font-family: Gotham;		
}
#create-question button:hover {
	cursor: pointer;
	background: #23927c;
}
.sidecolumn-divider {
    overflow: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}
.nav-links-header-text {
	font-size: 0.75em;
	font-weight: bold;
	padding-bottom: 10px;
	padding-left: 34px;
	color: #868686;
	float: left;
}
.nav-links {
	clear: left;
}
.nav-links li {
	color: white;
	padding: 8px 20px 8px 34px;
	transition: background 0.3s;
}
.nav-links li.active {
	background: #868686;
}
.nav-links li:hover {
	background: #868686;
	cursor: pointer;
}
#topics {
	position: relative;
}
#add-topics-button {
	border: none;
	outline: none;
    background: transparent;
    color: #868686;
    font-size: 1.5em;
    position: absolute;
    top: -8px;
    right: 30px;
    transition: color 0.3s;
}
#add-topics-button:hover {
	cursor: pointer;
	color: white;
}
#topic-name-input {
	font-family: Gotham;
	width: 100%;
	border: none;
	outline: none;
	background: transparent;
	color: white;
	border-bottom: 3px solid white;
	padding-bottom: 5px;
}
#topic-name-input::-webkit-input-placeholder {
	color: white;
}
#account-button {
	padding: 15px 0;
	margin-bottom: 100px;
	border-top: 1px solid rgba(255,255,255,.3);
	border-bottom: 1px solid rgba(255,255,255,.3);
}
#account-button button {
	background: transparent;
	border: none;
	color: white;
	font-size: 1.5em;
	outline: none;
}
#account-button button:hover {
	cursor: pointer;
}
#question-dark-overlay {
	position: fixed;
	top: 80px;
	left: 0;
	width: 100%;
	height: calc(100% - 80px);
	background: black;
	z-index: -100;
	opacity: 0;
}
#question-form-wrapper {
	height: calc(100% - 46px);
	padding-top: 10px;
	margin: 0 auto;
	overflow: auto;
    -webkit-overflow-scrolling: touch;
}
#question-form-wrapper > * {
	width: calc(100% - 20px);
	padding-bottom: 56px;
	margin: 0 auto;
}
#question-form-header {
	font-size: 1.25em;
	margin-bottom: 20px;
}
.question-form-error {
	font-size: 0.85em;
	margin-top: 3px;
	color: #e64c65;
}
.input-section {
	margin: 20px 0;
}
.input-section:first-of-type {
	margin-top: 0;
}
.input-label {
	margin-bottom: 4px;
	font-size: 0.95em;
	color: #2eb398;
}
.input-section input {
    font-family: Gotham;
    background: #f1f1f1;
    border: none;
    outline: none;
    padding: 8px 5px;
    font-size: .9em;
    width: 100%;
    border-radius: 3px;		
}
.input-section:nth-of-type(6), .input-section:nth-of-type(7) {
	display: none;
	opacity: 0;
}
.optional {
	color: #9c9c9c;
	font-size: 0.75em;
}
#submit-question-button {
	width: 100%;
	border: none;
	outline: none;
	font-family: Gotham;
	background: #2eb398;
	color: white;
	font-size: 1.25em;
	height: 46px;
	position: absolute;
	bottom: 0;
	left: 0;
	box-shadow: 0 0 20px rgba(0, 0, 0, .35);
}
#submit-question-button:hover {
	background: #23927c;
	cursor: pointer;
}
#off-canvas-question-form-backer {
	position: fixed;
	transform: translateY(100%);
	height: 100%;
	width: 100%;
	z-index: 110;
	background: rgba(46, 179, 152, .8);
	display: none;
	will-change: transform;	
}
#off-canvas-question-form {
	position: fixed;
	transform: translateY(100%);
	height: 100%;
	width: 100%;
	z-index: 120;
	background: white;
	display: none;
	will-change: transform;
}
#close-question {
	height: 46px;
	background: #2eb398;
	box-shadow: 0 0 20px rgba(0, 0, 0, .35);
	position: relative;
}
#close-question div:first-of-type {
	font-family: initial;
    font-size: 3em;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    padding-right: 23px;
    padding-left: 6px;	
}
#close-question div:nth-of-type(2) {
	font-size: 1.25em;
	line-height: 1.25em;
    color: white;
    position: absolute;
    left: 55px;
    top: 50%;
    transform: translateY(-50%);
}

@media only screen and (min-width: 1200px) {
	#side-column {
		display: initial;
	}
}