/*=================== GENERAL STYLING START ==================*/

@font-face {
	font-family: 'Jaapokki';
	src: url('/static/fonts/jaapokkisubtract-regular.woff');
}
@font-face {
	font-family: 'Gotham';
	src: url('/static/fonts/GothamHTF-Book.woff');
}
html {
	font-family: Gotham, sans-serif;
	background: #f1f1f1;
}
a {
	text-decoration: none;
}
* {
	color: #353436;
	box-sizing: border-box;
}

/*=================== GENERAL STYLING END ====================*/

main {
	padding-top: 45px;
	overflow-x: hidden;
}
#user-profile {
	background: white;
}
#profile-info {
	background: #2eb398;
	padding-top: 50px;
}
#profile-picture {
	text-align: center;
	margin-bottom: 25px;
}
#profile-picture img {
	object-fit: cover;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    box-shadow: 0 0 0 5px rgba(255, 255, 255, .4);
}
#profile-info-text {
	text-align: center;
}
#username-and-button {
	margin-bottom: 5px;
}
#username {
	font-size: 1.5em;
	color: white;
}
#username-and-button form {
	transform: translateY(-2px);
}
#username-and-button button {
    padding: 5px 10px;
    border: 1px solid #2eb398;
    outline: none;
    background: transparent;
    color: #2eb398;
    font-family: Gotham;
    font-size: 1.1em;
    border-radius: 3px;
}
#username-and-button button.active {
	background: #2eb398;
	color: white;
	border: none;
}
#username-and-button button:hover {
	cursor: pointer;
}
#username-and-button button.active:hover {
	background: #23927c;
}
#username-and-button button:not(.active):hover {
	background: #2eb398;
	color: white;
}
#bio {
	font-size: 0.75em;
	line-height: 1.2em;
	color: white;
	margin-bottom: 20px;
	padding: 0 20px;
}
#metrics {
	overflow: auto;
	background: white;
	padding: 20px 0;
}
#metrics > div {
	float: left;
	width: 33.3%;
    font-size: 0.85em;
    text-align: center;
}
#metrics span {
	font-size: 1.5em;
    margin-bottom: 2px;
    display: block;
}
#followers-count, #following-count:hover {
	cursor: pointer;
}
#relation-header {
	font-size: .75em;
	padding: 10px;
	text-transform: uppercase;
}
#users {
	overflow: auto;
    width: calc(100% + 4px);
    transform: translateX(-2px);	
}
.user {
	width: calc(25% - 4px);
    margin: 0 2px 2px 2px;
    float: left;
}
.user img {
	width: 100%;
	object-fit: cover;
}
#misc {
	background: #f1f1f1;
}
.header {
	font-size: .75em;
	padding: 10px;
	text-transform: uppercase;
}
.question {
	margin-bottom: 20px;
	background: white;
}
.question-title {
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 10px;
	color: white;
	font-size: 1em;
	line-height: 1.1em;
	word-break: break-word;
}
.background-image {
	height: 150px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 40%;
	position: relative;
}
.background-image:hover .background-image-overlay {
	background: rgba(0,0,0,.1);
}
.background-image-overlay {
	background: rgba(0,0,0,.4);
	transition: background 0.3s;
	height: 100%;
}
.user-answer {
	margin-top: 8px;
	font-size: 0.75em;
	padding: 0 10px 10px 10px;
	word-break: break-word;
}

@media only screen and (min-width: 380px) {
	.question-title {
		font-size: 1.1em;
		line-height: 1.2em;
	}
	.background-image {
		height: 180px;
	}
	.user-answer {
		font-size: 0.85em;
	}
}

@media only screen and (min-width: 480px) {
	.user {
		width: calc(20% - 4px);
	}
	.question-title {
		font-size: 1.2em;
		line-height: 1.3em;
	}
	.background-image {
		height: 200px;
	}
	.user-answer {
		font-size: 1em;
	}
}

@media only screen and (min-width: 600px) {
	#profile-picture img {
		width: 130px;
		height: 130px;
	}
	#username {
		font-size: 2em;
	}
	#bio {
		font-size: 1em;
	}
	#metrics-wrapper {
		background: white;
	}
	#metrics {
		width: 67%;
		margin: 0 auto;
	}
	#metrics > div {
		font-size: 1em;
	}
	#relation-header {
		font-size: 0.85em;
	}
	.user {
		width: calc(12.5% - 4px);
	}
	.header {
		font-size: 0.85em;
	}
	.questions-wrapper {
		overflow: auto;
		width: calc(100% + 20px);
		transform: translateX(-5px);
	}
	.question {
		width: calc(50% - 10px);
	    margin: 0 5px 10px 5px;
	    float: left;
	}
}

@media only screen and (min-width: 700px) {
	#profile-picture img {
		width: 150px;
		height: 150px;
	}
}

@media only screen and (min-width: 1200px) {
	main {
		padding-top: 130px;
	}
	#user-profile {
		padding: 20px 0;
		max-width: 1010px;
		border-radius: 5px;
		margin: 0 auto;
		margin-bottom: 40px;
	}
	#profile-picture {
		float: left;
		margin-right: 50px;
	}
	#profile-picture img {
		border-radius: 50%;
		width: 150px;
		height: 150px;
		object-fit: cover;
	}
	#profile-info {
		width: 60%;
		height: 156px;
		margin: 0 auto;
	}
	#profile-info-text {
		float: left;
		height: 100%;
		width: calc(100% - 200px);
		position: relative;
	}
	#username-and-button {
		position: absolute;
		top: 5px;
	}
	#username {
		float: left;
		margin-right: 20px;
		font-size: 2em;
	}
	#username-and-button form {
		float: left;
		transform: translateY(1px);
	}
	#username-and-button button {
	    padding: 5px 10px;
	    border: 1px solid #2eb398;
	    outline: none;
	    background: transparent;
	    color: #2eb398;
	    font-family: Gotham;
	    font-size: 1.1em;
	    border-radius: 3px;
	}
	#username-and-button button.active {
		background: #2eb398;
		color: white;
		border: none;
	}
	#username-and-button button:hover {
		cursor: pointer;
	}
	#username-and-button button.active:hover {
		background: #23927c;
	}
	#username-and-button button:not(.active):hover {
		background: #2eb398;
		color: white;
	}
	#bio {
		position: absolute;
		top: calc(50% + 5px);
		transform: translateY(-50%);
		font-size: 0.9em;
		line-height: 1.4em;
	}
	#metrics {
		overflow: hidden;
		position: absolute;
		bottom: 10px;
		width: 100%;
	}
	#metrics > div {
		float: left;
		margin-right: 35px;
	}
	#metrics span {
		font-weight: bold;
	}
	#followers-count, #following-count:hover {
		cursor: pointer;
	}
	#misc {
		width: calc(100% - 40px);
		margin: 0 auto;
	}
	#relation-wrapper {
		border-top: 1px solid rgba(0,0,0,.1);
		margin: 0 auto;
		margin-top: 15px;
		margin-bottom: 15px;
		padding: 15px 0;
		overflow: hidden;
	}
	#relation-header {
		font-size: 1.1em;
		margin-bottom: 20px;
	}
	#users {
		column-count: 8;
		column-gap: 5px;
		column-fill: balance;
	}
	.user {
		break-inside: avoid;
	}
	.user img {
		width: 100%;
		object-fit: cover;
	}
	.profile-questions {
		border-top: 1px solid rgba(0,0,0,.1);
		margin: 0 auto;
		margin-top: 15px;
		margin-bottom: 15px;
		padding: 15px 0;
		overflow: hidden;
	}
	.header {
		font-size: 1.1em;
		margin-bottom: 20px;
	}
	.questions-wrapper {
		column-count: 3;
		column-gap: 10px;
		column-fill: balance;
	}
	.question {
		break-inside: avoid;
	}
	.question-title {
		position: absolute;
		bottom: 0;
		left: 0;
		padding: 10px;
		color: white;
		font-size: 1.2em;
		line-height: 1.1em;
		word-break: break-word;
	}
	.background-image {
		height: 180px;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: 50% 40%;
		position: relative;
	}
	.background-image:hover .background-image-overlay {
		background: rgba(0,0,0,.1);
	}
	.background-image-overlay {
		background: rgba(0,0,0,.4);
		transition: background 0.3s;
		height: 100%;
	}
	.user-answer {
		margin-top: 8px;
		font-size: 0.9em;
		padding: 0 10px;
		word-break: break-word;
	}
}