/*=================== GENERAL STYLING START ==================*/

@font-face {
	font-family: 'Jaapokki';
	src: url('/static/fonts/jaapokkisubtract-regular.woff');
}
@font-face {
	font-family: 'Gotham';
	src: url('/static/fonts/GothamHTF-Book.woff');
}
html {
	font-family: Gotham, sans-serif;
	background: #f1f1f1;
}
a {
	text-decoration: none;
}
* {
	color: #353436;
	box-sizing: border-box;
}

/*=================== GENERAL STYLING END ====================*/

main {
	padding-top: 45px;
	overflow-x: hidden;
}
#user-profile {
	background: white;
}
#profile-info {
	background: #2eb398;
	padding-top: 50px;
}
#profile-picture {
	text-align: center;
	margin-bottom: 25px;
}
#profile-picture img {
	object-fit: cover;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    box-shadow: 0 0 0 5px rgba(255, 255, 255, .4);
}
#profile-info-text {
	text-align: center;
}
#username-and-button {
	margin-bottom: 10px;
}
#username {
	font-size: 1.5em;
	color: white;
}
#username-and-button form {
	transform: translateY(-2px);
}
#username-and-button button {
    padding: 5px 20px;
    border: 3px solid white;
    outline: none;
    background: transparent;
    color: white;
    font-family: Gotham;
    font-size: 1em;
    border-radius: 20px;
    margin-top: 7px;
}
#username-and-button button.active {
	background: white;
	color: #2eb398;
}
#bio {
	font-size: 0.85em;
	line-height: 1.2em;
	color: white;
	max-width: 500px;
	margin: 0 auto;
	margin-bottom: 20px;
	padding: 0 20px;
}
#metrics {
	overflow: auto;
	background: white;
	padding: 20px 0;
}
#metrics > div {
	float: left;
	width: 33.3%;
    font-size: 0.85em;
    text-align: center;
}
#metrics span {
	font-size: 1.5em;
    margin-bottom: 2px;
    display: block;
}
#followers-count, #following-count:hover {
	cursor: pointer;
}
#relation-header {
	font-size: .75em;
	padding: 10px;
	text-transform: uppercase;
}
.none-text {
	padding: 0 0 10px 10px;
}
#users {
	overflow: auto;
    width: calc(100% + 4px);
    transform: translateX(-2px);	
}
.user {
	width: calc(25% - 4px);
    margin: 0 2px 2px 2px;
    float: left;
}
.user img {
	width: 100%;
	object-fit: cover;
}
#misc {
	background: #f1f1f1;
}
.header {
	font-size: .75em;
	padding: 10px;
	text-transform: uppercase;
}
.questions-wrapper {
	margin: 0 auto;
	width: calc(100% - 20px);
}
.question {
	margin-bottom: 10px;
	background: white;
}
.question-title {
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 10px;
	color: white;
	font-size: 1em;
	line-height: 1.1em;
	word-break: break-word;
}
.background-image {
	height: 150px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 40%;
	position: relative;
}
.background-image:hover .background-image-overlay {
	background: rgba(0,0,0,.1);
}
.background-image-overlay {
	background: rgba(0,0,0,.4);
	transition: background 0.3s;
	height: 100%;
}
.user-answer {
	margin-top: 8px;
	font-size: 0.75em;
	padding: 0 10px 10px 10px;
	word-break: break-word;
}

@media only screen and (min-width: 380px) {
	.question-title {
		font-size: 1.1em;
		line-height: 1.2em;
	}
	.background-image {
		height: 180px;
	}
	.user-answer {
		font-size: 0.85em;
	}
}

@media only screen and (min-width: 480px) {
	.user {
		width: calc(20% - 4px);
	}
	.question-title {
		font-size: 1.2em;
		line-height: 1.3em;
	}
	.background-image {
		height: 200px;
	}
	.user-answer {
		font-size: 1em;
	}
}

@media only screen and (min-width: 600px) {
	#profile-picture img {
		width: 130px;
		height: 130px;
	}
	#username {
		font-size: 2em;
	}
	#bio {
		font-size: 1em;
	}
	#metrics-wrapper {
		background: white;
	}
	#metrics {
		width: 67%;
		margin: 0 auto;
	}
	#metrics > div {
		font-size: 1em;
	}
	#relation-header {
		font-size: 0.85em;
	}
	.user {
		width: calc(12.5% - 4px);
	}
	.header {
		font-size: 0.85em;
	}
	.questions-wrapper {
		overflow: auto;
		width: calc(100% + 20px);
		transform: translateX(-5px);
	}
	.question {
		width: calc(50% - 10px);
	    margin: 0 5px 10px 5px;
	    float: left;
	}
}

@media only screen and (min-width: 700px) {
	#profile-picture img {
		width: 150px;
		height: 150px;
	}
}

@media only screen and (min-width: 900px) {
	main {
		padding-top: 86px;
	}
	#user-profile {
		padding: 20px 0;
		width: calc(100% - 80px);
		border-radius: 5px;
		margin: 0 auto;
		margin-bottom: 40px;
	}
	#profile-info {
		width: 65%;
		overflow: auto;
		margin: 0 auto;
		padding-top: 0;
		background: transparent;
	}
	#profile-picture {
		float: left;
		margin-right: 50px;
		margin-bottom: 0;
	}
	#profile-picture img {
		box-shadow: none;
	}
	#profile-info-text {
		float: left;
		height: 150px;
		width: calc(100% - 200px);
		position: relative;
		text-align: initial;
	}
	#username-and-button {
		position: absolute;
		top: 5px;
		margin-bottom: 0;
	}
	#username {
		float: left;
		margin-right: 20px;
		color: #353436;
	}
	#username-and-button form {
	    transform: translateY(2px);
	    float: left;
	}
	#username-and-button button {
	    padding: 5px 10px;
	    border: 1px solid #2eb398;
	    outline: none;
	    background: transparent;
	    color: #2eb398;
	    font-family: Gotham;
	    font-size: 1.1em;
	    border-radius: 3px;
	    margin-top: 0;
	}
	#username-and-button button.active {
		background: #2eb398;
		color: white;
		border: none;
	}
	#username-and-button button:hover {
		cursor: pointer;
	}
	#username-and-button button.active:hover {
		background: #23927c;
	}
	#username-and-button button:not(.active):hover {
		background: #2eb398;
		color: white;
	}
	#bio {
		position: absolute;
		top: calc(50% + 5px);
		transform: translateY(-50%);
		font-size: 1em;
		line-height: 1.2em;
		padding: 0;
		margin-bottom: 0;
		color: #353436;
	}
	#metrics-wrapper {
		background: transparent;
		position: absolute;
		bottom: 10px;
	}
	#metrics {
		padding: 0;
		width: 100%;
	}
	#metrics > div {
		float: left;
		margin-right: 25px;
		font-size: 0.9em;
		width: initial;
	}
	#metrics span {
		font-weight: bold;
		margin-bottom: 0;
		display: initial;
		font-size: initial;
	}
	#misc {
		width: calc(100% - 40px);
		margin: 0 auto;
		background: white;
	}
	#relation-wrapper {
		border-top: 1px solid rgba(0,0,0,.1);
		margin: 0 auto;
		margin-top: 15px;
		margin-bottom: 15px;
		padding: 15px 0;
		overflow: hidden;
	}
	#relation-header {
		font-size: 1.1em;
		margin-bottom: 20px;
		text-transform: initial;
		padding: 0;
	}
	.none-text {
		padding: 0;
	}
	.profile-questions {
		border-top: 1px solid rgba(0,0,0,.1);
		margin: 0 auto;
		margin-top: 15px;
		margin-bottom: 15px;
		padding: 15px 0;
		overflow: hidden;
	}
	.header {
		font-size: 1.1em;
		margin-bottom: 20px;
		text-transform: initial;
		padding: 0;
	}
	.question {
		width: calc(33.3% - 10px);
		margin: 0 5px 20px 5px;
		float: left;
	}
	.question-title {
		font-size: 1.1em;
		line-height: 1.2em;
	}
	.background-image {
		height: 180px;
	}
	.user-answer {
		font-size: 0.9em;
	}
}

@media only screen and (min-width: 1200px) {
	main {
		padding-top: 130px;
	}
	#user-profile {
		padding: 20px 0;
		max-width: 1010px;
		border-radius: 5px;
		margin: 0 auto;
		margin-bottom: 40px;
	}
}