<header role="banner">
    {% if search %}
        <div id="search-form">
            <form action="/search" method="get">
                <input name="search-term" placeholder="Search all..." style="background-image: url({{ static_url("images/magnifying-glass.svg") }})" autocomplete="off">
            </form>
        </div>
        <div id="mobile-search-icon">
            <svg fill="#ffffff" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                <path d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"/>
                <path d="M0 0h24v24H0z" fill="none"/>
            </svg>
        </div>
    {% end %}
    <div class="logo {% if not current_user %}centered{% end %}">
        <a href={% if current_user %}"/feed"{% else %}"/"{% end %}>
            &middot;HIVE&middot;
        </a>
    </div>
    <div id="page-title">
        {% if current_user %}
            {% if page == 'Feed' %}
                Home
            {% else %}
                {{ page }}
            {% end %}
        {% else %}
            <div class="logo mobile">
                <a href={% if current_user %}"/feed"{% else %}"/"{% end %}>
                    &middot;HIVE&middot;
                </a>
            </div>
        {% end %}
    </div>
    {% if current_user %}
        <div id="header-icon-area">
            <div id="notification-icon">
                <svg fill="white" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                    <path d="M12 22c1.1 0 2-.9 2-2h-4c0 1.1.89 2 2 2zm6-6v-5c0-3.07-1.64-5.64-4.5-6.32V4c0-.83-.67-1.5-1.5-1.5s-1.5.67-1.5 1.5v.68C7.63 5.36 6 7.92 6 11v5l-2 2v1h16v-1l-2-2z"/>
                </svg>
                {% if current_user.get("notifications", None) %}
                    {% for notif in current_user["notifications"] %}
                        {% if not notif[0] %}
                            <div id="new-notifications-indicator"></div>
                            {% break %}
                        {% end %}
                    {% end %}
                    <div id="notifications-dropdown">
                        {% for notif in reversed(current_user["notifications"]) %}
                            <a href={{ notif[1] }}>
                                <div class="notification">
                                    <div class="notification-image">
                                        <img src={{ notif[2] }} alt="notification image">
                                    </div>
                                    <div class="notification-time">
                                        {% set total_seconds = (datetime.utcnow() - notif[4]).total_seconds() %}
                                        {% if total_seconds < 30 %}
                                            Just now
                                        {% elif total_seconds < 60 %}
                                            {{ int(total_seconds) }}s ago
                                        {% elif total_seconds < 3600 %}
                                            {{ int(total_seconds * 0.0166667) }}m ago
                                        {% elif total_seconds < 86400 %}
                                            {{ int(total_seconds * 0.000277778) }}h ago
                                        {% elif total_seconds < 172800 %}
                                            Yesterday
                                        {% elif total_seconds < 15770000 %}
                                            {{ notif[4].strftime("%B %d").replace(' 0', ' ') }}
                                        {% else %}
                                            {{ notif[4].strftime("%B %d, %Y").replace(' 0', ' ') }}
                                        {% end %}
                                    </div>
                                    <div class="notification-text">
                                        {{ notif[3] }}
                                    </div>
                                </div>
                            </a>
                        {% end %}
                    </div>
                {% end %}
            </div>
            <div id="current-user-profile-pic">
                <div class="dropdown">
                    <img class="dropbtn" src="{{ current_user["profile_pic_link"] }}" alt="{{ current_user["username"] }}'s profile picture">
                    <div class="dropdown-content">
                        <ul>
                            <li>
                                <a href="{{ '/users/' + str(current_user["_id"]) }}">
                                    <svg fill="#b9bcc1" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M12 12c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm0 2c-2.67 0-8 1.34-8 4v2h16v-2c0-2.66-5.33-4-8-4z"/>
                                        <path d="M0 0h24v24H0z" fill="none"/>
                                    </svg>
                                </a>
                            </li>
                            <li>
                                <a href="/settings">
                                    <svg fill="#b9bcc1" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M0 0h24v24H0z" fill="none"/>
                                        <path d="M19.43 12.98c.04-.32.07-.64.07-.98s-.03-.66-.07-.98l2.11-1.65c.19-.15.24-.42.12-.64l-2-3.46c-.12-.22-.39-.3-.61-.22l-2.49 1c-.52-.4-1.08-.73-1.69-.98l-.38-2.65C14.46 2.18 14.25 2 14 2h-4c-.25 0-.46.18-.49.42l-.38 2.65c-.61.25-1.17.59-1.69.98l-2.49-1c-.23-.09-.49 0-.61.22l-2 3.46c-.13.22-.07.49.12.64l2.11 1.65c-.04.32-.07.65-.07.98s.03.66.07.98l-2.11 1.65c-.19.15-.24.42-.12.64l2 3.46c.12.22.39.3.61.22l2.49-1c.52.4 1.08.73 1.69.98l.38 2.65c.03.24.24.42.49.42h4c.25 0 .46-.18.49-.42l.38-2.65c.61-.25 1.17-.59 1.69-.98l2.49 1c.23.09.49 0 .61-.22l2-3.46c.12-.22.07-.49-.12-.64l-2.11-1.65zM12 15.5c-1.93 0-3.5-1.57-3.5-3.5s1.57-3.5 3.5-3.5 3.5 1.57 3.5 3.5-1.57 3.5-3.5 3.5z"/>
                                    </svg>
                                </a>
                            </li>
                            <li>
                                <form action="/logout" method="post">
                                    {% raw xsrf_form_html() %}
                                    <button formaction="/logout" formmethod="post">
                                        <svg fill="#b9bcc1" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M0 0h24v24H0z" fill="none"/>
                                            <path d="M13 3h-2v10h2V3zm4.83 2.17l-1.42 1.42C17.99 7.86 19 9.81 19 12c0 3.87-3.13 7-7 7s-7-3.13-7-7c0-2.19 1.01-4.14 2.58-5.42L6.17 5.17C4.23 6.82 3 9.26 3 12c0 4.97 4.03 9 9 9s9-4.03 9-9c0-2.74-1.23-5.18-3.17-6.83z"/>
                                        </svg>
                                    </button>
                                </form>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    {% end %}
</header>
<div id="off-canvas-mobile-search-backer"></div>
<div id="off-canvas-mobile-search">
    <form action="/search" method="get">
        <input name="search-term" placeholder="Search all..." autocomplete="off">
    </form>
</div>
<div id="mobile-search-overlay"></div>

{% if current_user %}
    <nav id="mobile-tab-bar-wrapper">
        <div id="mobile-tab-bar">
            <div class="nav-option {% if page == 'Feed' %}active{% end %}">
                <a href="/feed">
                    <div class="nav-icon">
                        <svg height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                            <path d="M10 20v-6h4v6h5v-8h3L12 3 2 12h3v8z"/>
                            <path d="M0 0h24v24H0z" fill="none"/>
                        </svg>
                    </div>
                    <div class="nav-text">Home</div>
                </a>
            </div>
            <div class="nav-option {% if page == 'Favorites' %}active{% end %}">
                <a href="/favorites">
                    <div class="nav-icon">
                        <svg height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0 0h24v24H0z" fill="none"/>
                            <path d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z"/>
                        </svg>
                    </div>
                    <div class="nav-text">Favorites</div>
                </a>
            </div>
            <div class="nav-option active">
                <div class="nav-icon">
                    <svg height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0 0h24v24H0z" fill="none"/>
                        <path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm5 11h-4v4h-2v-4H7v-2h4V7h2v4h4v2z"/>
                    </svg>
                </div>
            </div>
            <div class="nav-option {% if page == 'Profile' %}active{% end %}">
                <a href="{{ '/users/' + str(current_user["_id"]) }}">
                    <div class="nav-icon">
                        <svg height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                            <path d="M12 12c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm0 2c-2.67 0-8 1.34-8 4v2h16v-2c0-2.66-5.33-4-8-4z"/>
                            <path d="M0 0h24v24H0z" fill="none"/>
                        </svg>
                    </div>
                    <div class="nav-text">Profile</div>
                </a>
            </div>
            <div class="nav-option">
                <div class="nav-icon">
                    <svg height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0 0h24v24H0z" fill="none"/>
                        <path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z"/>
                    </svg>
                </div>
                <div class="nav-text">More</div>
            </div>
        </div>
    </nav>

    <div id="more-options-overlay"></div>
    <div id="more-options-wrapper">
        <div id="more-options">
            <div id="more-options-picture-and-username">
                <div id="more-options-picture">
                    <img src="{{ current_user["profile_pic_link"] }}" alt="{{ current_user["username"] }}'s profile picture"></img>
                </div>
                <div id="more-options-username">{{ current_user["username"] }}</div>
                <div id="more-options-view-profile">
                    <a href="{{ '/users/' + str(current_user['_id']) }}">View Profile</a>
                </div>
            </div>
            <div id="more-options-lists">
                <div class="more-options-list">
                    <div class="more-options-header">MAIN</div>
                    <ul>
                        <a href="/feed">
                            <li {% if page == 'Feed' %}class="active"{% end %}>Feed</li>
                        </a>
                        <a href="/favorites">
                            <li {% if page == 'Favorites' %}class="active"{% end %}>Favorites</li>
                        </a>
                    </ul>
                </div>
                <div class="more-options-list">
                    <div class="more-options-header">TOPICS</div>
                    <ul>
                        {% if current_user.get("topics") %}
                            {% for topic in current_user["topics"] %}
                                <a href="/topics/{{ topic }}">
                                    <li {% if page[1:] == topic %}class="active"{% end %}>#{{ topic }}</li>
                                </a>
                            {% end %}
                        {% end %}
                    </ul>
                </div>
                <div class="more-options-list">
                    <div class="more-options-header">ACCOUNT</div>
                    <ul>
                        <a href="/settings">
                            <li {% if page == 'Settings' %}class="active"{% end %}>Settings</li>
                        </a>
                        <a>
                            <li>
                                <form action="/logout" method="post">
                                    {% raw xsrf_form_html() %}
                                    <button formaction="/logout" formmethod="post">Logout</button>
                                </form>
                            <li>
                        </a>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% end %}