<header role="banner">
    {% if search %}
        <div id="search-form">
            <form action="/search" method="get">
                <input name="search-term" placeholder="Search all..." style="background-image: url({{ static_url("images/magnifying-glass.svg") }})" autocomplete="off">
            </form>
        </div>
        <div id="mobile-search-icon">
            <svg fill="#b9bcc1" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                <path d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"/>
                <path d="M0 0h24v24H0z" fill="none"/>
            </svg>
        </div>
    {% end %}
    <div id="logo">
        <a href={% if current_user %}"/feed"{% else %}"/"{% end %}>
            &middot;HIVE&middot;
        </a>
    </div>
    {% if current_user %}
        {% if create_question %}
            <div id="mobile-create-question-wrapper">
                <div id="mobile-create-question">+</div>
            </div>
        {% end %}
        <div id="header-icon-area">
            <div id="notification-icon">
                <svg fill="white" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                    <path d="M12 22c1.1 0 2-.9 2-2h-4c0 1.1.89 2 2 2zm6-6v-5c0-3.07-1.64-5.64-4.5-6.32V4c0-.83-.67-1.5-1.5-1.5s-1.5.67-1.5 1.5v.68C7.63 5.36 6 7.92 6 11v5l-2 2v1h16v-1l-2-2z"/>
                </svg>
            </div>
            <div id="current-user-profile-pic">
                <div class="dropdown">
                    <img class="dropbtn" src="{{ current_user["profile_pic_link"] }}" alt="{{ current_user["username"] }}'s profile picture">
                    <div class="dropdown-content">
                        <ul>
                            <li>
                                <a href="{{ '/users/' + str(current_user["_id"]) }}">View Profile</a>
                            </li>
                            <li>
                                <a href="/settings">Settings</a>
                            </li>
                            <li>
                                <form action="/logout" method="post">
                                    {% raw xsrf_form_html() %}
                                    <button formaction="/logout" formmethod="post">Logout</button>
                                </form>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    {% end %}
</header>
<div id="off-canvas-mobile-search-backer"></div>
<div id="off-canvas-mobile-search"></div>
<div id="mobile-search-overlay"></div>