{% extends "form_general.html" %}

{% block title %}
    Log In to Hive
{% end %}

{% block section %}
    <h1>Log in to Hive.</h1>
    <form method="post" action="login" novalidate>
        {% raw xsrf_form_html() %}
        <div class="input-row">
            <p class="error-message">{{ email_error }}</p>
            <input type="email" id="email" name="email" {% if email %}value="{{ email }}"{% end %} placeholder="Email" {% if email_error or not password_error %}autofocus{% end %}>
        </div>
        <div class="input-row">
            <p class="error-message">{{ password_error }}</p>
            <input type="password" id="password" name="password" placeholder="Password" {% if password_error %}autofocus{% end %}>
        </div>
        <button type="submit">Log In</button>
    </form>
    <h3 id="top-text"><a href="">Forgot your password?</a></h3>
    <div id="text-divider"></div>
    <h3 id="bot-text">Don't have an account? <a href="/signup">Sign Up</a></h3>
{% end %}

{% block js_files %}
    <script src="{{ static_url("js/jquery.min.js") }}"></script>
    <script src="{{ static_url("js/jquery.transit.min.js") }}"></script>
    <script src="{{ static_url("js/login.js") }}"></script>
{% end %}