<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Hive</title>
        <link href='https://fonts.googleapis.com/css?family=Karla' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{{ static_url("css/reset.css") }}">
        <link rel="stylesheet" href="{{ static_url("css/newsfeed.css") }}">
        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
          <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
	    {% module Header() %}
        <section id="side-content">
        	{% for idx, question in enumerate(questions) %}
        		<article class="mini-question-wrapper">
					<div class="mini-question {{ question["_id"] }}">
					    <div class="mini-asker-info">
				            <div class="mini-asker-profile-pic">
				                <a href="/users/{{ str(askers[idx]["_id"]) }}">
				                    <img src="{{ askers[idx]["profile_pic_link"] }}">
				                </a>
				            </div>
				            <div class="mini-asker-text">
				                <div class="mini-asker-username">
				                    <a href="/users/{{ str(askers[idx]["_id"]) }}"> by {{ askers[idx]["username"] }}</a>
				                </div>
				                <div class="mini-question-date">
				                    {% set total_seconds = (datetime.utcnow() - question["date"]).total_seconds() %}
				                    {% if total_seconds < 30 %}
				                        Just now
				                    {% elif total_seconds < 60 %}
				                        {{ int(total_seconds) }}s ago
				                    {% elif total_seconds < 3600 %}
				                        {{ int(total_seconds * 0.0166667) }}m ago
				                    {% elif total_seconds < 86400 %}
				                        {{ int(total_seconds * 0.000277778) }}h ago
				                    {% elif total_seconds < 172800 %}
				                        Yesterday
				                    {% elif total_seconds < 15770000 %}
				                        {{ question["date"].strftime("%B %d") }}
				                    {% else %}
				                        {{ question["date"].strftime("%B %d, %Y") }}
				                    {% end %}
				                </div>
				            </div>
					    </div>
					    <div class="mini-question-image" style="background-image: url({{ question["image_link"] }})">
					        <div class="mini-question-image-overlay">
					        </div>
					    </div>
				        <div class="mini-question-title">
				            <a href="{{ "/questions/" + str(question["_id"]) }}">
				                {{ question["question"] }}
				            </a>
				        </div> 
				        <div class="mini-vote-count">
		                    {% set vote_count = sum([q["votes"] for q in question["data"]]) %}
		                    {% if vote_count <= 1000 %}
		                        {{ vote_count }}
		                    {% elif vote_count <= 999999 %}
		                        {{ round(vote_count/1000, 1) }}K
		                    {% else %}
		                        {{ round(vote_count/1000000, 1) }}M
		                    {% end %}
		                    Votes
				        </div>
				        <div class="mini-action-buttons">
					        <div class="favorite-count">
					            <span>
					                {% if favorites[idx][1] <= 1000 %}
					                    {{ favorites[idx][1] }}
					                {% elif favorites[idx][1] <= 999999 %}
					                    {{ round(favorites[idx][1]/1000, 1) }}K
					                {% else %}
					                    {{ round(favorites[idx][1]/1000000, 1) }}M
					                {% end %}
					            </span>
					            <div title="Add to Favorites" class="svg-image {{ str(question["_id"]) }} {% if favorites[idx][0] %}svg-active{% end %}">
					                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Heart" x="0px" y="0px" viewBox="0 0 20 20" xml:space="preserve" enable-background="new 0 0 20 20">
					                    <path d="M17.19 4.155c-1.672-1.534-4.383-1.534-6.055 0L10 5.197 8.864 4.155c-1.672-1.534-4.382-1.534-6.054 0-1.881 1.727-1.881 4.52 0 6.246L10 17l7.19-6.599C19.07 8.675 19.07 5.881 17.19 4.155z" fill="white"/>
					                </svg>
					            </div>
					        </div>
					        <div class="share-count">
					            <span>
					                {% if shares[idx][1] <= 1000 %}
					                    {{ shares[idx][1] }}
					                {% elif shares[idx][1] <= 999999 %}
					                    {{ round(shares[idx][1]/1000, 1) }}K
					                {% else %}
					                    {{ round(shares[idx][1]/1000000, 1) }}M
					                {% end %}
					            </span>
					            <div title="Share" class="svg-image {{ str(question["_id"]) }} {% if shares[idx][0] %}svg-active{% end %}">
					                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Forward" x="0px" y="0px" viewBox="0 0 20 20" xml:space="preserve" enable-background="new 0 0 20 20">
					                    <path d="M12 11.874v4.357l7-6.69-7-6.572v3.983c-8.775 0-11 9.732-11 9.732C3.484 12.296 7.237 11.874 12 11.874z" fill="white"/>
					                </svg>
					            </div>
					        </div>
					        <div class="comment-count">
					            <span>
					                {% if comments[idx][1] <= 1000 %}
					                    {{ comments[idx][1] }}
					                {% elif comments[idx][1] <= 999999 %}
					                    {{ round(comments[idx][1]/1000, 1) }}K
					                {% else %}
					                    {{ round(comments[idx][1]/1000000, 1) }}M
					                {% end %}
					            </span>
					            <a href="/questions/{{ str(question["_id"]) }}#comments">
					                <div title="See Comments" class="svg-image {% if comments[idx][0] %}svg-active{% end %}">
					                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Chat" x="0px" y="0px" viewBox="0 0 20 20" xml:space="preserve" enable-background="new 0 0 20 20">
					                        <path d="M5.8 12.2V6H2C0.9 6 0 6.9 0 8v6c0 1.1 0.9 2 2 2h1v3l3-3h5c1.1 0 2-0.9 2-2v-1.82c-0.064 0.014-0.132 0.021-0.2 0.021h-7V12.2zM18 1H9C7.9 1 7 1.9 7 3v8h7l3 3v-3h1c1.1 0 2-0.899 2-2V3C20 1.9 19.1 1 18 1z" fill="white"/>
					                    </svg>
					                </div>
					            </a>
					        </div>
					    </div>
					    <div class="mini-labels {{ str(question["_id"]) }}">
				            {% set total_votes = sum([x["votes"] for x in question["data"]]) %}
				            {% for idx2, q in enumerate(question["data"]) %}
				                {% if votes[idx] == None %}
				                    <div class="poll-answer">
				                        <h4>{{ q["label"] }}</h4>
				                        <div class="percent-and-bar">
				                        	<div class="poll-percentage-wrapper">
				                            	<div class="poll-percentage">{{ int(q["votes"]*100/total_votes) }}%</div>
				                            </div>
				                            <div class="bar-wrapper1">
				                                <div class="bar-wrapper2" style="width: {{ q["votes"]*100/total_votes }}%">
				                                    <div class="poll-bar"></div>
				                                </div>
				                            </div>
				                        </div>
				                    </div>
				                {% else %}
				                    {% if idx2 == votes[idx] %}
				                        <div class="poll-answer">
				                            <h4 class="active">{{ q["label"] }}</h4>
				                            <div class="percent-and-bar">
				                            	<div class="poll-percentage-wrapper active">
				                                	<div class="poll-percentage">{{ int(q["votes"]*100/total_votes) }}%</div>
				                                </div>
				                                <div class="bar-wrapper1">
				                                    <div class="bar-wrapper2" style="width: {{ q["votes"]*100/total_votes }}%">
				                                        <div class="poll-bar"></div>
				                                    </div>
				                                </div>
				                            </div>
				                        </div>
				                    {% else %}
				                        <div class="poll-answer">
				                            <h4>{{ q["label"] }}</h4>
				                            <div class="percent-and-bar">
				                            	<div class="poll-percentage-wrapper">
				                                	<div class="poll-percentage">{{ int(q["votes"]*100/total_votes) }}%</div>
				                                </div>
				                                <div class="bar-wrapper1">
				                                    <div class="bar-wrapper2" style="width: {{ q["votes"]*100/total_votes }}%">
				                                        <div class="poll-bar"></div>
				                                    </div>
				                                </div>
				                            </div>
				                        </div>
				                    {% end %}
				                {% end %}
				            {% end %}
				        </div>
					</div>
					<div class="mini-backer1"></div>
                	<div class="mini-backer2"></div>
				</article>
			{% end %}
	    </section>
	    <section id="main-content">
	    	{% module Question(askers[0], questions[0], votes[0], favorites[0], shares[0], comments[0]) %} 
	    </section>
        <!--
	    <div id="profile-info">
	    	<div id="profile-wrapper">
		    	<div id="profile-pic-and-text">
			    	<div id="profile-pic">
			    		<img src="{{ profile["profile_pic_link"] }}" alt="{{ profile["username"] }}'s avatar">
			    	</div>
			    	<div id="profile-text">
				    	<div id="username">
				    		<h1>{{ profile["username"] }}</h1>
				    	</div>
				    	<div id="profile-bio">
				    		<h3>{{ profile["bio"] }}</h3>
				    	</div>
				    </div>
				</div>
			    <div id="profile-buttons">
			    	{% if controlled == False %}
				    	<button type="submit" class="profile-button {% if follower %}active{% end %}" id="follow-button">
				    		{% if follower %}
				    			Following
				    		{% else %}
				    			Follow
				    		{% end %}
				    	</button>
				    	<button type="submit" class="profile-button {% if hater %}active{% end %}" id="hate-button">
				    		{% if hater %}
				    			Hating
				    		{% else %}
				    			Hate
				    		{% end %}
				    	</button>
					{% end %}
				</div>
			</div>
	    </div>
	    <div id="profile-metrics">
	    	<div id="profile-metrics-wrapper">
		    	<div class="profile-metrics-text">
		    		<a href="/users/{{ str(profile["_id"]) }}/get_relationships?relationship=follower">
		    			<div class="text-num">{% if followers_count %}{{ followers_count["count"] }}{% else %}0{% end %}</div>
		    			<div class="text-str">followers</div>
		    		</a>
		    	</div>
		    	<div class="profile-metrics-text">
		    		<a href="/users/{{ str(profile["_id"]) }}/get_relationships?relationship=following">
			    		<div class="text-num">{% if following_count %}{{ following_count["count"] }}{% else %}0{% end %}</div>
			    		<div class="text-str">following</div>
			    	</a>
		    	</div>
				<div class="profile-metrics-text">
					<a href="/users/{{ str(profile["_id"]) }}/get_relationships?relationship=hater">
			    		<div class="text-num">{% if hater_count %}{{ hater_count["count"] }}{% else %}0{% end %}</div>
			    		<div class="text-str">haters</div>
			    	</a>
		    	</div>
		    	<div class="profile-metrics-text">
		    		<div class="text-num">0</div>
		    		<div class="text-str">votes</div>
		    	</div>
		    </div>
		</div>
		<div id="background-dark"></div>
		<div id="overlay">
			<h1 id="overlay-title">Followers</h1>
			<div id="overlay-content">
			</div>
		</div>
		<div id="overlay-close">&times</div>
     	<section>
     		{% if controlled %}
	     		<article id="ask-article">
	     			<div id="close-button">
	     				&times
	     			</div>
	     			<div id="open-button">
		     			<button>+</button>
		     			<h5>Ask a question</h5>
		     		</div>
					<div id="modal">
						<div id="modal-content">
							<form method="post" action="create_question">
								{% raw xsrf_form_html() %}
								<p id="question-error"></p>
								<div class="input-row">
									<input style="background-image: url({{ static_url("images/help.svg") }})" type="text" id="question-title" name="question-title" autocomplete="off" placeholder="Enter a question" maxlength="30">
								</div>
								<div class="input-row">
									<input style="background-image: url({{ static_url("images/image.svg") }})" type="text" id="image-link" name="image-link" autocomplete="off" placeholder="Link to image (not required)">
								</div>
								<div class="input-row">
									<input style="background-image: url({{ static_url("images/chevron-small-right.svg") }})" type="text" id="answer-1" name="answer-1" autocomplete="off" placeholder="Option 1" maxlength="20">
								</div>
								<div class="input-row">
									<input style="background-image: url({{ static_url("images/chevron-small-right.svg") }})" type="text" id="answer-2" name="answer-2" autocomplete="off" placeholder="Option 2" maxlength="20">
								</div>
								<div class="input-row">
									<input style="background-image: url({{ static_url("images/chevron-small-right.svg") }})" type="text" id="answer-3" name="answer-3" autocomplete="off" placeholder="Option 3 (not required)" maxlength="20">
								</div>
								<div class="input-row">
									<input style="background-image: url({{ static_url("images/chevron-small-right.svg") }})" type="text" id="answer-4" name="answer-4" autocomplete="off" placeholder="Option 4 (not required)" maxlength="20">
								</div>
								<div class="input-row">
									<input style="background-image: url({{ static_url("images/chevron-small-right.svg") }})" type="text" id="answer-5" name="answer-5" autocomplete="off" placeholder="Option 5 (not required)" maxlength="20">
								</div>
								<button type="submit">Post Your Question<img src="{{ static_url("images/chevron-thin-right.svg") }}"></button>
							</form>
						</div>
					</div>
	     		</article>
	     	{% end %}
        </section>
        {% if controlled %}
	        <form method="post" action="logout">
	            {% raw xsrf_form_html() %}
	            <input type="submit" value="Log Out">
	        </form>
	    {% end %} -->
        <script src="{{ static_url("js/jquery.min.js") }}"></script>
        <script src="{{ static_url("js/newsfeed.js") }}"></script>
    </body>
</html>