<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Hive</title>
        <link rel="stylesheet" href="{{ static_url("css/reset.css") }}">
        <link rel="stylesheet" href="{{ static_url("css/newsfeed.css") }}">
        <link rel="stylesheet" href="{{ static_url("css/comment_module.css") }}">
        {% if current_user %}
            <link rel="stylesheet" href="{{ static_url("css/imgur.min.css") }}">
        {% end %}
        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
          <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
	    {% module Header('#' + title if topic else title) %}
	    {% module SideColumn(title) %}
		<aside id="off-canvas-comments-backer"></aside>
	    <aside id="off-canvas-comments">
	    	<div class="all-comments"></div>
	    </aside>   
		<div id="content-overlay"></div>
	    <main>
	        <section id="main-content">
	        	<div id="main-content-wrapper">
	        		<div id="main-content-header-wrapper">
	        			<div id="main-content-title">
			        		{% if not topic %}
			        			{{ title }}
			        		{% else %}
			        			#{{ topic }}
			        		{% end %}
			        	</div>
			        	{% if topic %}
			        		<div class="main-content-following-info">
			        			<div class="main-content-follow-form">
				        			<form action="/add_topic?topic-name={{ topic }}" method="post">
				        				{% raw xsrf_form_html() %}
					        			{% if following_topic %}
					        				<button formaction="/add_topic?topic-name={{ topic }}" formmethod="post" class="follow-topic-button active">Following</button>
					        			{% else %}
					        				<button formaction="/add_topic?topic-name={{ topic }}" formmethod="post" class="follow-topic-button">Follow</button>
					        			{% end %}
					        		</form>
					        	</div>
			        			<div class="main-content-topic-question-count">
		        					{% if topic_question_count <= 1000 %}
					                    {{ topic_question_count }}
					                {% elif topic_question_count <= 999999 %}
					                    {{ round(topic_question_count/1000, 1) }}K
					                {% else %}
					                    {{ round(topic_question_count/1000000, 1) }}M
					                {% end %} questions
					            </div>
			        			<div class="main-content-topic-follower-count">
		        					{% if topic_follower_count <= 1000 %}
					                    {{ topic_follower_count }}
					                {% elif topic_follower_count <= 999999 %}
					                    {{ round(topic_follower_count/1000, 1) }}K
					                {% else %}
					                    {{ round(topic_follower_count/1000000, 1) }}M
					                {% end %}
					            </div>
		        				<svg fill="#999" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
								    <path d="M0 0h24v24H0z" fill="none"/>
								    <path d="M16 11c1.66 0 2.99-1.34 2.99-3S17.66 5 16 5c-1.66 0-3 1.34-3 3s1.34 3 3 3zm-8 0c1.66 0 2.99-1.34 2.99-3S9.66 5 8 5C6.34 5 5 6.34 5 8s1.34 3 3 3zm0 2c-2.33 0-7 1.17-7 3.5V19h14v-2.5c0-2.33-4.67-3.5-7-3.5zm8 0c-.29 0-.62.02-.97.05 1.16.84 1.97 1.97 1.97 3.45V19h6v-2.5c0-2.33-4.67-3.5-7-3.5z"/>
								</svg>
				        	</div>
				        {% end %}
			        	<div id="main-content-header">
				        	<div id="main-content-selection">
				        		{% if title == 'Feed' %}
				        			{% set top_selection    = '/feed' %}
				        			{% set recent_selection = '/feed/recent' %}
				        		{% elif title == 'Favorites' %}
				        			{% set top_selection    = '/favorites' %}
				        			{% set recent_selection = '/favorites/recent' %}
				        		{% else %}
				        			{% set top_selection    = '/topics/' + title %}
				        			{% set recent_selection = '/topics/' + title + '/recent' %}
				        		{% end %}
				        		<a href={{ top_selection }}>
					        		<div title="Top" class="selection">
					        			{% if selection == 'Top' %}
					        				<div class="triangle"></div>
					        			{% end %}
										<div {% if selection == 'Top' %}class="active"{% end %}>Top</div>
					        		</div>
					        	</a>
					        	<a href={{ recent_selection }}>
					        		<div title="Most Recent" class="selection {% if selection == 'Recent' %}active{% end %}">
					        			{% if selection == 'Recent' %}
					        				<div class="triangle"></div>
					        			{% end %}
										<div {% if selection == 'Recent' %}class="active"{% end %}>Recent</div>
					        		</div>
					        	</a>
				        	</div>
				        	{% if topic %}
				        		<div class="main-content-following-info">
				        			<div class="main-content-follow-form">
					        			<form action="/add_topic?topic-name={{ topic }}" method="post">
					        				{% raw xsrf_form_html() %}
						        			{% if following_topic %}
						        				<button formaction="/add_topic?topic-name={{ topic }}" formmethod="post" class="follow-topic-button active">Following</button>
						        			{% else %}
						        				<button formaction="/add_topic?topic-name={{ topic }}" formmethod="post" class="follow-topic-button">Follow</button>
						        			{% end %}
						        		</form>
						        	</div>
				        			<div class="main-content-topic-question-count">
			        					{% if topic_question_count <= 1000 %}
						                    {{ topic_question_count }}
						                {% elif topic_question_count <= 999999 %}
						                    {{ round(topic_question_count/1000, 1) }}K
						                {% else %}
						                    {{ round(topic_question_count/1000000, 1) }}M
						                {% end %} questions
						            </div>
				        			<div class="main-content-topic-follower-count">
			        					{% if topic_follower_count <= 1000 %}
						                    {{ topic_follower_count }}
						                {% elif topic_follower_count <= 999999 %}
						                    {{ round(topic_follower_count/1000, 1) }}K
						                {% else %}
						                    {{ round(topic_follower_count/1000000, 1) }}M
						                {% end %}
						            </div>
			        				<svg fill="#999" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
									    <path d="M0 0h24v24H0z" fill="none"/>
									    <path d="M16 11c1.66 0 2.99-1.34 2.99-3S17.66 5 16 5c-1.66 0-3 1.34-3 3s1.34 3 3 3zm-8 0c1.66 0 2.99-1.34 2.99-3S9.66 5 8 5C6.34 5 5 6.34 5 8s1.34 3 3 3zm0 2c-2.33 0-7 1.17-7 3.5V19h14v-2.5c0-2.33-4.67-3.5-7-3.5zm8 0c-.29 0-.62.02-.97.05 1.16.84 1.97 1.97 1.97 3.45V19h6v-2.5c0-2.33-4.67-3.5-7-3.5z"/>
									</svg>
					        	</div>
					        {% end %}
				        </div>
				    </div>
			        <div id="feed">
			        	{% for idx, question in enumerate(questions) %}
			        		{% module Question(askers[idx], question, votes[idx], favorite_count[idx], favorited_this_question[idx], comment_count[idx]) %}
						{% end %}
					</div>
				</div>
		    </section>
		</main>
        <script src="{{ static_url("js/jquery.min.js") }}"></script>
        <script src="//cdn.jsdelivr.net/velocity/1.2.3/velocity.min.js"></script>
        <script src="//cdn.jsdelivr.net/velocity/1.2.3/velocity.ui.min.js"></script>
        <script src="{{ static_url("js/comment_module.js") }}"></script>
        <script src="{{ static_url("js/newsfeed.js") }}"></script>
        {% if current_user %}
        	<script src="{{ static_url("js/imgur.min.js") }}"></script>
        {% end %}
    </body>
</html>