<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Hive</title>
        <link rel="stylesheet" href="{{ static_url("css/reset.css") }}">
        <link rel="stylesheet" href="{{ static_url("css/newsfeed.css") }}">
        <link rel="stylesheet" href="{{ static_url("css/comment_module.css") }}">
        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
          <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
    	{% if current_user %}
	    	{% module Header(True, True) %}
	    {% else %}
	    	{% module Header() %}
	    {% end %}
	    {% module SideColumn(title) %}
	    {% if current_user %}
			{% module MobileTabBar(title) %}
		{% end %}
		<aside id="off-canvas-comments-backer"></aside>
	    <aside id="off-canvas-comments">
	    	<div class="all-comments"></div>
	    </aside>
	    
	    
		<div id="content-overlay"></div>
	    <main>
	        <section id="main-content">
	        	<div id="main-content-wrapper">
		        	<div id="main-content-header">
			        	<div id="main-content-title">
			        		{% if not topic %}
			        			{{ title }}
			        		{% else %}
			        			<span id="topic-title">#{{ topic }}</span>
			        			<form action="/add_topic?topic-name={{ topic }}" method="post">
			        				{% raw xsrf_form_html() %}
				        			{% if following_topic %}
				        				<button formaction="/add_topic?topic-name={{ topic }}" formmethod="post" id="follow-topic-button" class="active">Following</button>
				        			{% else %}
				        				<button formaction="/add_topic?topic-name={{ topic }}" formmethod="post" id="follow-topic-button">Follow</button>
				        			{% end %}
				        		</form>
				        		{% if topic %}
				        			<div id="topic-metrics">
					        			<div id="topic-question-count">
					        				<span>
					        					{% if topic_question_count <= 1000 %}
								                    {{ topic_question_count }}
								                {% elif topic_question_count <= 999999 %}
								                    {{ round(topic_question_count/1000, 1) }}K
								                {% else %}
								                    {{ round(topic_question_count/1000000, 1) }}M
								                {% end %}
					        				</span> questions
					        			</div>
					        			<div id="topic-follower-count">
					        				<span>
					        					{% if topic_follower_count <= 1000 %}
								                    {{ topic_follower_count }}
								                {% elif topic_follower_count <= 999999 %}
								                    {{ round(topic_follower_count/1000, 1) }}K
								                {% else %}
								                    {{ round(topic_follower_count/1000000, 1) }}M
								                {% end %}
					        				</span> followers
					        			</div>
					        		</div>
				        		{% end %}
			        		{% end %}
			        	</div>
			        	<div id="main-content-selection">
			        		{% if title == 'Feed' %}
			        			{% set top_selection    = '/feed' %}
			        			{% set recent_selection = '/feed/recent' %}
			        		{% elif title == 'Favorites' %}
			        			{% set top_selection    = '/favorites' %}
			        			{% set recent_selection = '/favorites/recent' %}
			        		{% else %}
			        			{% set top_selection    = '/topics/' + title %}
			        			{% set recent_selection = '/topics/' + title + '/recent' %}
			        		{% end %}
			        		<a href={{ top_selection }}>
				        		<div title="Top" class="selection">
				        			<svg fill="{% if selection == 'Top' %}#2eb398{% else %}#b9bcc1{% end %}" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
									    <path d="M13.5.67s.74 2.65.74 4.8c0 2.06-1.35 3.73-3.41 3.73-2.07 0-3.63-1.67-3.63-3.73l.03-.36C5.21 7.51 4 10.62 4 14c0 4.42 3.58 8 8 8s8-3.58 8-8C20 8.61 17.41 3.8 13.5.67zM11.71 19c-1.78 0-3.22-1.4-3.22-3.14 0-1.62 1.05-2.76 2.81-3.12 1.77-.36 3.6-1.21 4.62-2.58.39 1.29.59 2.65.59 4.04 0 2.65-2.15 4.8-4.8 4.8z"/>
									    <path d="M0 0h24v24H0z" fill="none"/>
									</svg>
				        		</div>
				        	</a>
				        	<a href={{ recent_selection }}>
				        		<div title="Most Recent" class="selection {% if selection == 'Recent' %}active{% end %}">
				        			<svg fill="{% if selection == 'Recent' %}#2eb398{% else %}#b9bcc1{% end %}" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
									    <defs>
									        <path d="M0 0h24v24H0V0z" id="a"/>
									    </defs>
									    <clipPath id="b">
									        <use overflow="visible" xlink:href="#a"/>
									    </clipPath>
									    <path clip-path="url(#b)" d="M12 2C6.5 2 2 6.5 2 12s4.5 10 10 10 10-4.5 10-10S17.5 2 12 2zm4.2 14.2L11 13V7h1.5v5.2l4.5 2.7-.8 1.3z"/>
									</svg>
				        		</div>
				        	</a>
			        	</div>
			        </div>
			        <div id="feed">
			        	{% for idx, question in enumerate(questions) %}
			        		{% module Question(askers[idx], question, votes[idx], favorite_count[idx], favorited_this_question[idx], comment_count[idx]) %}
						{% end %}
					</div>
				</div>
		    </section>
		</main>
        <script src="{{ static_url("js/jquery.min.js") }}"></script>
        <script src="{{ static_url("js/jquery.transit.min.js") }}"></script>
        <script src="{{ static_url("js/comment_module.js") }}"></script>
        <script src="{{ static_url("js/newsfeed.js") }}"></script>
    </body>
</html>