<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{ question["question"] }}</title>
        <link href='https://fonts.googleapis.com/css?family=Karla' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{{ static_url("css/reset.css") }}">
        <link rel="stylesheet" href="{{ static_url("css/question.css") }}">
        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
          <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
        <header role="banner">
            <h1><a href="/">Hive</a></h1>
        </header>
        <section>
             <article>
                <div class="asker-info">
                    <a href="/users/{{ str(asker["_id"]) }}">
                        <img src="{{ asker["profile_pic_link"] }}">
                    </a>
                    <table>
                        <tr>
                            <td>
                                <h2>
                                    <a href="/users/{{ str(asker["_id"]) }}">{{ asker["username"] }}</a>
                                </h2>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <h3>{{ question["date"].strftime("%Y-%m-%d") }}</h3>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="question-image" style="background-image: url({{ question["image_link"] }})"></div>
                <div class="chart">
                    <h1 class="question">{{ question["question"] }}</h1>
                    <canvas>
                        <div class="chart-labels">{{ question["labels"] }}</div>
                        <div class="chart-data">{{ question["data"] }}</div>
                    </canvas>
                    <div class="chart-footer">
                        <h4 class="favorite-count">
                            {% set favorites = question["favorites"] %}
                            {% if favorites <= 1000 %}
                                {{ favorites }}
                            {% elif favorites <= 999999 %}
                                {{ round(favorites/1000, 1) }}K
                            {% else %}
                                {{ round(favorites/1000000, 1) }}M
                            {% end %}
                            <svg xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:cc="http://creativecommons.org/ns#" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" xmlns:svg="http://www.w3.org/2000/svg" xmlns="http://www.w3.org/2000/svg" xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd" xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape" version="1.1" id="Heart_outlined" x="0px" y="0px" viewBox="0 0 20 20" xml:space="preserve" inkscape:version="0.91 r13725" sodipodi:docname="heart-outlined.svg" enable-background="new 0 0 20 20">
                              <metadata id="metadata3343">
                                <rdf:RDF>
                                  <cc:Work rdf:about="">
                                    <dc:format>
                                      image/svg+xml
                                    </dc:format>
                                    <dc:type rdf:resource="http://purl.org/dc/dcmitype/StillImage"/>
                                    <dc:title/>
                                  </cc:Work>
                                </rdf:RDF>
                              </metadata>
                              <defs id="defs3341"/>
                              <sodipodi:namedview pagecolor="#ffffff" bordercolor="#666666" borderopacity="1" objecttolerance="10" gridtolerance="10" guidetolerance="10" inkscape:pageopacity="0" inkscape:pageshadow="2" inkscape:window-width="1051" inkscape:window-height="787" id="namedview3339" showgrid="false" inkscape:zoom="40.4" inkscape:cx="10" inkscape:cy="10" inkscape:window-x="2071" inkscape:window-y="107" inkscape:window-maximized="0" inkscape:current-layer="Heart_outlined"/>
                              <path d="M17.19 4.156c-1.672-1.535-4.383-1.535-6.055 0L10 5.197 8.864 4.156c-1.672-1.535-4.382-1.535-6.054 0 -1.881 1.726-1.881 4.519 0 6.245L10 17l7.19-6.599C19.07 8.675 19.07 5.881 17.19 4.156zM16.124 9.375L10 15.09 3.875 9.375C3.258 8.808 3.019 8.068 3.019 7.281s0.138-1.433 0.756-1.999C4.32 4.781 5.053 4.505 5.838 4.505c0.784 0 1.517 0.476 2.062 0.978L10 7.308l2.099-1.826c0.546-0.502 1.278-0.978 2.063-0.978s1.518 0.276 2.063 0.777c0.618 0.566 0.755 1.212 0.755 1.999S16.742 8.808 16.124 9.375z" id="path3337"/>
                            </svg>
                        </h4>
                        <h4 class="share-count">
                            {% set shares = question["shares"] %}
                            {% if shares <= 1000 %}
                                {{ shares }}
                            {% elif shares <= 999999 %}
                                {{ round(shares/1000, 1) }}K
                            {% else %}
                                {{ round(shares/1000000, 1) }}M
                            {% end %}
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Forward" x="0px" y="0px" viewBox="0 0 20 20" xml:space="preserve" enable-background="new 0 0 20 20">
                                <path d="M12 11.874v4.357l7-6.69 -7-6.572v3.983c-8.775 0-11 9.732-11 9.732C3.484 12.296 7.237 11.874 12 11.874z"/>
                            </svg>
                        </h4>
                        <h4 class="poll-count">
                            {% set votes = sum(question["data"]) %}
                            {% if votes <= 1000 %}
                                {{ votes }}
                            {% elif votes <= 999999 %}
                                {{ round(votes/1000, 1) }}K
                            {% else %}
                                {{ round(votes/1000000, 1) }}M
                            {% end %}
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Download" x="0px" y="0px" viewBox="0 0 20 20" enable-background="new 0 0 20 20" xml:space="preserve">
                                <path d="M15 7h-3V1H8v6H5l5 5L15 7zM19.338 13.532c-0.21-0.224-1.611-1.723-2.011-2.114C17.062 11.159 16.683 11 16.285 11h-1.757l3.064 2.994h-3.544c-0.102 0-0.194 0.052-0.24 0.133L12.992 16H7.008l-0.816-1.873c-0.046-0.081-0.139-0.133-0.24-0.133H2.408L5.471 11H3.715c-0.397 0-0.776 0.159-1.042 0.418 -0.4 0.392-1.801 1.891-2.011 2.114 -0.489 0.521-0.758 0.936-0.63 1.449l0.561 3.074c0.128 0.514 0.691 0.936 1.252 0.936h16.312c0.561 0 1.124-0.422 1.252-0.936l0.561-3.074C20.096 14.468 19.828 14.053 19.338 13.532z"/>
                            </svg>
                        </h4>
                    </div>
                    <div class="comment-section">
                        {% if len(question["comments"]) != 0 %}
                            {% set idx = 0 %}
                            {% for comment in question["comments"] %}
                                {% if users[idx]["email"] != comment[0] %}
                                    {% set idx = idx - 1 %}
                                {% end %}
                                <div class="comment">
                                    <a href="/users/{{ str(users[idx]["_id"]) }}">
                                        <img class="profile-pic" src="{{ users[idx]["profile_pic_link"] }}">
                                    </a>
                                    <div class="comment-text">
                                        <a href="/users/{{ str(users[idx]["_id"]) }}">
                                            <h3>{{ users[idx]["username"] }}</h3>
                                        </a>
                                        <h4>{{ comment[1] }}</h4>
                                    </div>
                                </div>
                                {% if idx < users.count() - 1 %}
                                    {% set idx = idx + 1 %}
                                {% end %}
                            {% end %}
                        {% end %}
                        <form method="post" action={{ "/comments/" + str(question["_id"]) }}>
                            {% raw xsrf_form_html() %}
                            <input type="text" name="comment" autocomplete="off" required="required" placeholder="Share your thoughts...">
                        </form>
                    </div>
                </div>
            </article>
        </section>
        <footer role="contentinfo">
            <ul>
                <li><a class="footer-links" href="">Blog</a></li>
                <li><a class="footer-links" href="">Email Us</a></li>
                <li><a class="footer-links" href="">Jobs</a></li>
                <li><a class="footer-links" href="">Terms</a></li>
                <li><a class="footer-links" href="">Privacy</a></li>
                <li><a class="footer-links" href="">Cookie</a></li>
                <li><a class="footer-links" href="">Copyright</a></li>
                <li>&copy; 2016<br>Hive, Inc.</li>
            </ul>
        </footer>
        <script src="{{ static_url("js/jquery.min.js") }}"></script>
        <script src="{{ static_url("js/Chart.js") }}"></script>
        <script src="{{ static_url("js/chartmaker.js") }}"></script>
        <script src="{{ static_url("js/question.js") }}"></script>
    </body>
</html>