<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{ question["question"] }}</title>
        <link href='https://fonts.googleapis.com/css?family=Karla' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{{ static_url("css/reset.css") }}">
        <link rel="stylesheet" href="{{ static_url("css/question.css") }}">
        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
          <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
        <header role="banner">
            <h1><a href="/">Hive</a></h1>
        </header>
        <section>
             <article>
                <div class="asker-info">
                    <a href="/users/{{ str(asker["_id"]) }}">
                        <img src="{{ asker["profile_pic_link"] }}">
                    </a>
                    <table>
                        <tr>
                            <td>
                                <h2>
                                    <a href="/users/{{ str(asker["_id"]) }}">{{ asker["username"] }}</a>
                                </h2>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <h3>{{ question["date"].strftime("%Y-%m-%d") }}</h3>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="question-image" style="background-image: url({{ question["image_link"] }})"></div>
                <div class="chart">
                    <h1 class="question">{{ question["question"] }}</h1>
                    <canvas>
                        <div class="chart-labels">{{ question["labels"] }}</div>
                        <div class="chart-data">{{ question["data"] }}</div>
                    </canvas>
                    <h4 class="poll-count">{{ sum(question["data"]) }} Votes</h4>
                </div>
            </article>
        </section>
        <footer role="contentinfo">
            <ul>
                <li><a class="footer-links" href="">Blog</a></li>
                <li><a class="footer-links" href="">Email Us</a></li>
                <li><a class="footer-links" href="">Jobs</a></li>
                <li><a class="footer-links" href="">Terms</a></li>
                <li><a class="footer-links" href="">Privacy</a></li>
                <li><a class="footer-links" href="">Cookie</a></li>
                <li><a class="footer-links" href="">Copyright</a></li>
                <li>&copy; 2016<br>Hive, Inc.</li>
            </ul>
        </footer>
        <script src="{{ static_url("js/jquery.min.js") }}"></script>
        <script src="{{ static_url("js/Chart.js") }}"></script>
        <script src="{{ static_url("js/chartmaker.js") }}"></script>
    </body>
</html>