<div class="question">
    <div class="question-wrapper">
        <div class="asker-info">
            <div class="info">
                <div class="asker-profile-pic">
                    <a href="/users/{{ str(asker["_id"]) }}">
                        <img src="{{ asker["profile_pic_link"] }}">
                    </a>
                </div>
                <div class="asker-text">
                    <div class="asker-username">
                        <a href="/users/{{ str(asker["_id"]) }}"> by {{ asker["username"] }}</a>
                    </div>
                    <div class="question-date">
                        {% set total_seconds = (datetime.utcnow() - question["date"]).total_seconds() %}
                        {% if total_seconds < 30 %}
                            Just now
                        {% elif total_seconds < 60 %}
                            {{ int(total_seconds) }}s ago
                        {% elif total_seconds < 3600 %}
                            {{ int(total_seconds * 0.0166667) }}m ago
                        {% elif total_seconds < 86400 %}
                            {{ int(total_seconds * 0.000277778) }}h ago
                        {% elif total_seconds < 172800 %}
                            Yesterday
                        {% elif total_seconds < 15770000 %}
                            {{ question["date"].strftime("%B %d") }}
                        {% else %}
                            {{ question["date"].strftime("%B %d, %Y") }}
                        {% end %}
                    </div>
                </div>
            </div>
        </div>
        <div class="question-image" style="background-image: url({{ question["image_link"] }})">
            <div class="question-image-overlay">
            </div>
        </div>
        <div class="chart">
            <div class="question-title">
                <a href="{{ "/questions/" + str(question["_id"]) }}">
                    {{ question["question"] }}
                </a>
            </div>
            <div class="labels {{ str(question["_id"]) }}">
                {% set total_votes = sum([x["votes"] for x in question["data"]]) %}
                {% for idx, q in enumerate(question["data"]) %}
                    {% if vote == None %}
                        <div class="poll-answer">
                            <h4>{{ q["label"] }}</h4>
                            <div class="percent-and-bar">
                                <div class="poll-percentage">{{ int(q["votes"]*100/total_votes) }}%</div>
                                <div class="bar-wrapper1">
                                    <div class="bar-wrapper2" style="width: {{ q["votes"]*100/total_votes }}%">
                                        <div class="poll-bar"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% else %}
                        {% if idx == vote %}
                            <div class="poll-answer">
                                <h4 class="active">{{ q["label"] }}</h4>
                                <div class="percent-and-bar">
                                    <div class="poll-percentage">{{ int(q["votes"]*100/total_votes) }}%</div>
                                    <div class="bar-wrapper1">
                                        <div class="bar-wrapper2" style="width: {{ q["votes"]*100/total_votes }}%">
                                            <div class="poll-bar"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% else %}
                            <div class="poll-answer">
                                <h4>{{ q["label"] }}</h4>
                                <div class="percent-and-bar">
                                    <div class="poll-percentage">{{ int(q["votes"]*100/total_votes) }}%</div>
                                    <div class="bar-wrapper1">
                                        <div class="bar-wrapper2" style="width: {{ q["votes"]*100/total_votes }}%">
                                            <div class="poll-bar"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% end %}
                    {% end %}
                {% end %}
            </div>   
        </div>
        <div class="backer1">
        </div>
        <div class="backer2">
        </div>
    </div>
</div>