<div class="question-wrapper" id="{{ str(question["_id"]) }}">
    <div class="question-image" style="background-image: url({{ question["image_link"] }})">
        <div class="question-image-overlay"></div>
        <div class="question-title">
            <a href="{{ "/questions/" + str(question["_id"]) }}">
                {{ question["question"] }}
            </a>
        </div>
        <div class="asker-info">
            <div class="asker-profile-pic">
                <a href="/users/{{ str(asker["_id"]) }}">
                    <img src="{{ asker["profile_pic_link"] }}" data-gradient-map="#271f37 25%, #dc143c">
                </a>
            </div>
            <div class="asker-text">
                <div class="asker-username">
                    <a href="/users/{{ str(asker["_id"]) }}"> by {{ asker["username"] }}</a>
                </div>
                <div class="question-date">
                    {% set total_seconds = (datetime.utcnow() - question["date"]).total_seconds() %}
                    {% if total_seconds < 30 %}
                        Just now
                    {% elif total_seconds < 60 %}
                        {{ int(total_seconds) }}s ago
                    {% elif total_seconds < 3600 %}
                        {{ int(total_seconds * 0.0166667) }}m ago
                    {% elif total_seconds < 86400 %}
                        {{ int(total_seconds * 0.000277778) }}h ago
                    {% elif total_seconds < 172800 %}
                        Yesterday
                    {% elif total_seconds < 15770000 %}
                        {{ question["date"].strftime("%B %d").replace(' 0', ' ') }}
                    {% else %}
                        {{ question["date"].strftime("%B %d, %Y").replace(' 0', ' ') }}
                    {% end %}
                </div>
            </div>
        </div>
        <div class="action-buttons">
            <div class="favorite-count">
                <div class="count-text">
                    {% if favorite_count <= 1000 %}
                        {{ favorite_count }}
                    {% elif favorite_count <= 999999 %}
                        {{ round(favorite_count/1000, 1) }}K
                    {% else %}
                        {{ round(favorite_count/1000000, 1) }}M
                    {% end %}
                </div>
                <div title="Add to Favorites" class="svg-image {{ str(question["_id"]) }}">
                    <svg fill="{% if favorited_this_question %}#e64c65{% else %}white{% end %}" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0 0h24v24H0z" fill="none"/>
                        <path d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z"/>
                    </svg>
                </div>
            </div>
            <div class="comment-count">
                <div class="count-text">
                    {% if comment_count <= 1000 %}
                        {{ comment_count }}
                    {% elif comment_count <= 999999 %}
                        {{ round(comment_count/1000, 1) }}K
                    {% else %}
                        {{ round(comment_count/1000000, 1) }}M
                    {% end %}
                </div>
                <div title="See Comments" class="svg-image">
                    <svg fill="white" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0 0h24v24H0z" fill="none"/>
                        <path d="M21 6h-2v9H6v2c0 .55.45 1 1 1h11l4 4V7c0-.55-.45-1-1-1zm-4 6V3c0-.55-.45-1-1-1H3c-.55 0-1 .45-1 1v14l4-4h10c.55 0 1-.45 1-1z"/>
                    </svg>
                </div>
            </div>
        </div>
    </div>
    <div class="question-content">
        <div class="labels {{ str(question["_id"]) }}">
            {% set total_votes = sum([x["votes"] for x in question["data"]]) %}
            {% for idx, q in enumerate(question["data"]) %}
                {% if vote == None %}
                    <div class="poll-answer">
                        <div class="percent-and-bar">
                            <div class="poll-percentage-wrapper">
                                <div class="poll-percentage">{% if total_votes == 0 %}0%{% else %}{{ int(q["votes"]*100/total_votes) }}%{% end %}</div>
                            </div>
                            <div class="bar-wrapper1">
                                <div class="bar-wrapper2" style="width: {% if total_votes == 0 %}0%{% else %}{{ q["votes"]*100/total_votes }}%{% end %}">
                                    <div class="poll-bar"><div>{{ q["label"] }}</div></div>
                                    <div class="behind-poll-bar"><div>{{ q["label"] }}</div></div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% else %}
                    {% if idx == vote %}
                        <div class="poll-answer active">
                            <div class="percent-and-bar">
                                <div class="poll-percentage-wrapper">
                                    <div class="poll-percentage">{% if total_votes == 0 %}0%{% else %}{{ int(q["votes"]*100/total_votes) }}%{% end %}</div>
                                </div>
                                <div class="bar-wrapper1">
                                    <div class="bar-wrapper2" style="width: {% if total_votes == 0 %}0%{% else %}{{ q["votes"]*100/total_votes }}%{% end %}">
                                        <div class="poll-bar"><div>{{ q["label"] }}</div></div>
                                        <div class="behind-poll-bar"><div>{{ q["label"] }}</div></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% else %}
                        <div class="poll-answer">
                            <div class="percent-and-bar">
                                <div class="poll-percentage-wrapper">
                                    <div class="poll-percentage">{% if total_votes == 0 %}0%{% else %}{{ int(q["votes"]*100/total_votes) }}%{% end %}</div>
                                </div>
                                <div class="bar-wrapper1">
                                    <div class="bar-wrapper2" style="width: {% if total_votes == 0 %}0%{% else %}{{ q["votes"]*100/total_votes }}%{% end %}">
                                        <div class="poll-bar"><div>{{ q["label"] }}</div></div>
                                        <div class="behind-poll-bar"><div>{{ q["label"] }}</div></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% end %}
                {% end %}
            {% end %}
        </div>
        <div class="vote-count">
            {% set vote_count = sum([q["votes"] for q in question["data"]]) %}
            {% if vote_count <= 1000 %}
                {{ vote_count }}
            {% elif vote_count <= 999999 %}
                {{ round(vote_count/1000, 1) }}K
            {% else %}
                {{ round(vote_count/1000000, 1) }}M
            {% end %}
            Votes
        </div>
        <div class="topics-container">
            {% if question.get("topics") %}
                {% for topic in question["topics"] %}
                    <span class="question-topic">
                        <a href="/topics/{{ topic }}">
                            #{{ topic }}
                        </a>
                    </span>
                {% end %}
            {% end %}
        </div>
    </div>
</div>