 <div id="{% if relation == 'follower' %}follower-wrapper{% else %}following-wrapper{% end %}">
	<div class="relation-header">
		{% if relation == "follower" %}
			Followers
		{% else %}
			Following
		{% end %}
	</div>
	{% if relation_list %}
		<div class="users">
			{% for user in relation_list %}
				<div class="user">
					<div class="user-profile-pic">
						<a href="/users/{{ str(user["_id"]) }}">
							<img src="{{ user["profile_pic_link"] }}" alt="{{ user["username"] }}'s profile picture">
						</a>
					</div>
				</div>
			{% end %}
		</div>
	{% else %}
		<div class="none-text">
			None yet.
		</div>
	{% end %}
</div>