<section id="side-column">
    <nav role="navigation">
        {% if current_user %}
            <div id="create-question">
                <button>+ New Question</button>
            </div>
            <div class="sidecolumn-divider"></div>
            <div id="main">
                <div class="nav-links-header-text">MAIN</div>
                <div class="nav-links top">
                    <ul>
                        <a href="/feed">
                            <li {% if title == 'Feed' %}class="active"{% end %}>Feed</li>
                        </a>
                        <a href="/favorites">
                            <li {% if title == 'Favorites' %}class="active"{% end %}>Favorites</li>
                        </a>
                    </ul>
                </div>
            </div>
            <div class="sidecolumn-divider"></div>
            <div id="topics">
                <div class="nav-links-header-text">TOPICS</div>
                <!--<button id="add-topics-button">+</button>-->
                <div class="nav-links">
                    <ul>
                        <li>
                            <form action="/add_topic" method="post">
                                {% raw xsrf_form_html() %}
                                <input id="topic-name-input" name="topic-name" placeholder='Like "music" or "new-york"' autocomplete="off" maxlength="30">
                            </form>
                        </li>
                        {% if current_user.get("topics") %}
                            {% for topic in current_user["topics"] %}
                                <li>#{{ topic }}</li>
                            {% end %}
                        {% end %}
                    </ul>
                </div>
            </div>
        {% else %}
            <div id="account-button">
                <a href="/signup">
                    <button>Sign Up / Log In</button>
                </a>
            </div>
            <div id="main-links">
                <ul>
                    <li>Home</li>
                    <li>Featured</li>
                    <li>Sports</li>
                    <li>Entertainment</li>
                    <li>Music</li>
                    <li>Technology</li>
                    <li>Search</li>
                </ul>
            </div>
        {% end %}
    </nav>
</section>
{% if current_user %}
    <div id="question-dark-overlay"></div>
    <aside id="off-canvas-question-form">
        <div id="question-form-wrapper">
            <div id="question-form-header">Create a Question</div>
            <form action="/create_question" method="post">
                {% raw xsrf_form_html() %}
                <div class="input-section">
                    <div class="input-label">Question Title</div>
                    <input name="question-title" id="question-title" placeholder="Good vacation spot in Europe?" autocomplete="off" maxlength="120">
                </div>
                <div class="input-section">
                    <div class="input-label">Cover Image Link</div>
                    <input name="image-link" id="image-link" placeholder="http://i.imgur.com/jmWKu1r.jpg" autocomplete="off">
                </div>
                <div class="input-section">
                    <div class="input-label">Choice A</div>
                    <input name="choice-a" id="choice-a" placeholder="Paris" autocomplete="off" maxlength="40">
                </div>
                <div class="input-section">
                    <div class="input-label">Choice B</div>
                    <input name="choice-b" id="choice-b" placeholder="London" autocomplete="off" maxlength="40">
                </div>
                <div class="input-section">
                    <div class="input-label">Choice C <span class="optional">Optional</span></div>
                    <input name="choice-c" id="choice-c" placeholder="Rome" autocomplete="off" maxlength="40">
                </div>
                <div class="input-section">
                    <div class="input-label">Choice D <span class="optional">Optional</span></div>
                    <input name="choice-d" id="choice-d" autocomplete="off" maxlength="40">
                </div>
                <div class="input-section">
                    <div class="input-label">Choice E <span class="optional">Optional</span></div>
                    <input name="choice-e" id="choice-e" autocomplete="off" maxlength="40">
                </div>
                <div class="input-section">
                    <div class="input-label">Topics</span></div>
                    <input name="topics" id="topics-input" placeholder="europe travel eiffel-tower" autocomplete="off" maxlength="100">
                </div>
                <button id="submit-question-button" formaction="/create-question" formmethod="post">Submit</button>
            </form>
        </div>
    </aside>
{% end %}