<section id="side-column">
    <nav role="navigation">
        {% if current_user %}
            <div>
                <div class="nav-links-header-text">MAIN</div>
                <div class="nav-links top">
                    <ul>
                        <li>Overview</li>
                        <li>Feed</li>
                    </ul>
                </div>
            </div>
            <div id="topics">
                <div class="nav-links-header-text">TOPICS</div>
                <button id="add-topics-button">+</button>
                <div class="nav-links">
                    <ul>
                        <li>
                            <form action="/add_topic" method="post">
                                {% raw xsrf_form_html() %}
                                <input id="topic-name-input" name="topic-name" placeholder='Like "music" or "new-york"' autocomplete="off" maxlength="30">
                            </form>
                        </li>
                        {% if current_user.get("topics") %}
                            {% for topic in current_user["topics"] %}
                                <li>#{{ topic }}</li>
                            {% end %}
                        {% end %}
                    </ul>
                </div>
            </div>
            <div id="create-question">
                <button id="create-question-button">+ Create Question</button>
            </div>
        {% else %}
            <div id="account-button">
                <a href="/signup">
                    <button>Sign Up / Log In</button>
                </a>
            </div>
            <div id="main-links">
                <ul>
                    <li>Home</li>
                    <li>Featured</li>
                    <li>Sports</li>
                    <li>Entertainment</li>
                    <li>Music</li>
                    <li>Technology</li>
                    <li>Search</li>
                </ul>
            </div>
        {% end %}
    </nav>
</section>