<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{ profile["username"] }}'s profile - Hive</title>
        <link rel="stylesheet" href="{{ static_url("css/reset.css") }}">
        <link rel="stylesheet" href="{{ static_url("css/user_profile.css") }}">
        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
          <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
        {% module Header() %}
        <main>
            <section id="user-profile">
                <div id="profile-info">
                    <div id="profile-picture">
                        <img src={{ profile["profile_pic_link"] }} alt="{{ profile["username"] }}'s profile picture">
                    </div>
                    <div id="profile-info-text">
                        <div id="username-and-button">
                            <div id="username">
                                {{ profile["username"] }}
                            </div>
                            {% if not own_profile %}
                                <form action="/follow_or_hate/{{ str(profile["_id"]) }}?action=follow" method="post">
                                    {% raw xsrf_form_html() %}
                                    {% if not following_this_user %}
                                        <button formaction="/follow_or_hate/{{ str(profile["_id"]) }}?action=follow" formmethod="post">Follow</button>
                                    {% else %}
                                        <button class="active" formaction="/follow_or_hate/{{ str(profile["_id"]) }}?action=follow" formmethod="post">Following</button>
                                    {% end %}
                                </form>
                            {% end %}
                        </div>
                        <div id="bio">
                            {{ profile["bio"] }}
                        </div>
                        <div id="metrics">
                            <div id="question-count">
                                {% if not questions %}
                                    <span>0</span> questions
                                {% else %}
                                    <span>{{ len(questions) }}</span> questions
                                {% end %}
                            </div>
                            <div id="followers-count">
                                <span>{{ user_followers_count }}</span> followers
                            </div>
                            <div id="following-count">
                                <span>{{ user_following_count }}</span> following
                            </div>
                        </div>
                    </div>
                </div>
                <div id="misc">
                    <div id="recent-answers">
                        <div id="recent-answers-header">
                            Recent Answers <span>See More</span>
                        </div>
                        {% if recent_answers %}
                            {% set column = "left-column" %}
                            {% for idx, answer in enumerate(recent_answers) %}
                                <div class="question {{ column }}">
                                    <a href="/questions/{{ str(answered_questions[idx]["_id"]) }}">
                                        <div class="background-image" style="background-image: url({{ answered_questions[idx]["image_link"] }})">
                                            <div class="background-image-overlay">
                                            </div>
                                            <div class="question-title">
                                                {{ answered_questions[idx]["question"] }}
                                            </div>
                                        </div>
                                        <div class="user-answer">
                                            {{ answered_questions[idx]["data"][answer]["label"] }}
                                        </div>
                                    </a>
                                </div>
                                {% if column == "left-column" %}
                                    {% set column = "mid-column" %}
                                {% elif column == "mid-column" %}
                                    {% set column = "right-column" %}
                                {% else %}
                                    {% set column = "left-column" %}
                                {% end %}
                            {% end %}
                        {% else %}
                            No answers yet.
                        {% end %}
                    </div>
                    <div id="recent-questions">
                        <div id="recent-questions-header">
                            Submitted Questions <span>See More</span>
                        </div>
                        {% if questions %}
                            {% set column = "left-column" %}
                            {% for question in questions %}
                                <div class="question {{ column }}">
                                    <a href="/questions/{{ str(question["_id"]) }}">
                                        <div class="background-image" style="background-image: url({{ question["image_link"] }})">
                                            <div class="background-image-overlay">
                                            </div>
                                            <div class="question-title">
                                                {{ question["question"] }}
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                {% if column == "left-column" %}
                                    {% set column = "mid-column" %}
                                {% elif column == "mid-column" %}
                                    {% set column = "right-column" %}
                                {% else %}
                                    {% set column = "left-column" %}
                                {% end %}
                            {% end %}
                        {% else %}
                            No questions yet.
                        {% end %}
                    </div>
                </div>
            </section>
        </main>
        <script src="{{ static_url("js/jquery.min.js") }}"></script>
        <script src="{{ static_url("js/user_profile.js") }}"></script>
    </body>
</html>