<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{ profile["username"] }}'s profile - Hive</title>
        <link rel="stylesheet" href="{{ static_url("css/reset.css") }}">
        <link rel="stylesheet" href="{{ static_url("css/user_profile.css") }}">
        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
          <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
        {% module Header('Profile' if own_profile else '', True, current_user != None) %}
        {% if current_user %}
            {% module SideColumn('') %}
        {% end %}
        <main>
            <section id="user-profile">
                <div id="profile-info">
                    <div id="profile-picture">
                        <img src={{ profile["profile_pic_link"] }} alt="{{ profile["username"] }}'s profile picture">
                    </div>
                    <div id="profile-info-text">
                        <div id="username-and-button">
                            <div id="username">
                                {{ profile["username"] }}
                            </div>
                            {% if not own_profile %}
                                <form action="/follow_or_hate/{{ str(profile["_id"]) }}?action=follow" method="post">
                                    {% raw xsrf_form_html() %}
                                    {% if not following_this_user %}
                                        <button formaction="/follow_or_hate/{{ str(profile["_id"]) }}?action=follow" formmethod="post">Follow</button>
                                    {% else %}
                                        <button class="active" formaction="/follow_or_hate/{{ str(profile["_id"]) }}?action=follow" formmethod="post">Following</button>
                                    {% end %}
                                </form>
                            {% end %}
                        </div>
                        <div id="bio">
                            {{ profile["bio"] }}
                        </div>
                        <div id="metrics-wrapper">
                            <div id="metrics">
                                <div id="question-count">
                                    <span>
                                        {% if question_count <= 1000 %}
                                            {{ question_count }}
                                        {% elif question_count <= 999999 %}
                                            {{ round(question_count/1000, 1) }}K
                                        {% else %}
                                            {{ round(question_count/1000000, 1) }}M
                                        {% end %}
                                    </span> questions
                                </div>
                                <div id="followers-count" class="/users/{{ profile["_id"] }}/get_relationships?relationship=follower">
                                    <span>
                                        {% if user_followers_count <= 1000 %}
                                            {{ user_followers_count }}
                                        {% elif user_followers_count <= 999999 %}
                                            {{ round(user_followers_count/1000, 1) }}K
                                        {% else %}
                                            {{ round(user_followers_count/1000000, 1) }}M
                                        {% end %}
                                    </span> followers
                                </div>
                                <div id="following-count" class="/users/{{ profile["_id"] }}/get_relationships?relationship=following">
                                    <span>
                                        {% if user_following_count <= 1000 %}
                                            {{ user_following_count }}
                                        {% elif user_following_count <= 999999 %}
                                            {{ round(user_following_count/1000, 1) }}K
                                        {% else %}
                                            {{ round(user_following_count/1000000, 1) }}M
                                        {% end %}
                                    </span> following
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="misc">
                    <div class="profile-questions" id="recent-answers">
                        <div class="header">
                            Recent Answers
                        </div>
                        {% if recent_answers %}
                            <div class="questions-wrapper">
                                {% for idx, answer in enumerate(recent_answers) %}
                                    <div class="question">
                                        <a href="/questions/{{ str(answered_questions[idx]["_id"]) }}">
                                            <div class="background-image" style="background-image: url({{ answered_questions[idx]["image_link"] }})">
                                                <div class="background-image-overlay"></div>
                                                <div class="question-title">
                                                    {{ answered_questions[idx]["question"] }}
                                                </div>
                                            </div>
                                            <div class="user-answer">
                                                A: {{ answered_questions[idx]["data"][answer]["label"] }}
                                            </div>  
                                        </a>
                                    </div>
                                {% end %}
                            </div>
                        {% else %}
                            <div class="none-text">No answers yet.</div>
                        {% end %}
                    </div>
                    <div class="profile-questions" id="recent-questions">
                        <div class="header">
                            Submitted Questions
                        </div>
                        {% if questions %}
                            <div class="questions-wrapper">
                                {% for question in questions %}
                                    <div class="question">
                                        <a href="/questions/{{ str(question["_id"]) }}">
                                            <div class="background-image" style="background-image: url({{ question["image_link"] }})">
                                                <div class="background-image-overlay">
                                                </div>
                                                <div class="question-title">
                                                    {{ question["question"] }}
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                {% end %}
                            </div>
                        {% else %}
                            <div class="none-text">No questions yet.</div>
                        {% end %}
                    </div>
                    <div class="backer"></div>
                </div>
            </section>
        </main>
        <script src="{{ static_url("js/jquery.min.js") }}"></script>
        <script src="{{ static_url("js/jquery.transit.min.js") }}"></script>
        <script src="{{ static_url("js/user_profile.js") }}"></script>
    </body>
</html>